---
layout: page
id: awards
weight: 6
permalink: /de/awards/
lang: de
---

<h1>Förderungen</h1>
{% assign awardslist = site.awards | sort: 'weight' %}
{% for award in awardslist %}
  {% if award.type == 'grant' %}
  <div class="posts">
    <h2 style="clear:both">{{ award.title }}</h2>
    <div class="row">
      {% if award.thumbnail %}
      <div class="col-sm-4">
        <img class="award-pic" src="{{ site.baseurl | append: award.thumbnail }}" />
      </div>

      <div class="col-sm-8">
        <div class="content press-text">
          {{ award.content }}
        </div>
      </div>
      {% else %}
        <div class="content press-text">
          {{ award.content }}
        </div>
      {% endif %}
      </div>
      <hr class="clear nomargin">
    </div>
  {% endif %}
{% endfor %}

<h1>Preise</h1>
{% assign awardslist = site.awards | sort: 'weight' %}
{% for award in awardslist %}
  {% if award.type == 'award' %}
  <div class="posts">
    <h2 style="clear:both">{{ award.title }}</h2>
    <div class="row">
      {% if award.thumbnail %}
      <div class="col-sm-4">
        <img class="award-pic" src="{{ site.baseurl | append: award.thumbnail }}" />
      </div>

      <div class="col-sm-8">
        <div class="content press-text">
          {{ award.content }}
        </div>
      </div>
      {% else %}
        <div class="content press-text">
          {{ award.content }}
        </div>
      {% endif %}
      </div>
    <hr class="clear nomargin">
  </div>
  {% endif %}
{% endfor %}
