---
layout: page
title: Docs
permalink: /docs/
weight: 4
---
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 posts">

    <!-- Sidebar -->
    <div class="col-lg-4 col-md-4 col-sm-4 sidebar"></div>

    <div class="col-lg-7 col-md-7 col-sm-7">
      <div class="page-header">
        <h1>Docs</h1>
      </div>

      <p>
        Hier finden sie die gesamte Dokumentation rund um die senseBox. Alle hier befindlichen Anleitungen sind Open Educational Resources (OER) unter der Creative Commons Lizenz <a href="https://creativecommons.org/licenses/by-sa/4.0/" class="link" target="_blank">CC BY SA 4.0</a>. Bestehende Texte können so nach und nach von der kreativen Gemeinschaft weiterentwickelt, sowie durch neue Experimente oder Projekte erweitert werden.
      </p>
      <br><br>
      <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#instructions" aria-controls="instructions" role="tab" data-toggle="tab">Anleitungen</a></li>
          <li role="presentation"><a href="#texts" aria-controls="texts" role="tab" data-toggle="tab">Texte</a></li>
          <li role="presentation"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Fotos</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="instructions">
            <br><br>
            <table class="table table-hover">
              <tr>
                <td colspan="" rowspan="" headers="">Lorem ipsum</td>
                <td colspan="" rowspan="" headers="">PDF</td>
                <td colspan="" rowspan="" headers="">09.10.2015</td>
              </tr>
              <tr>
                <td colspan="" rowspan="" headers="">Lorem ipsum</td>
                <td colspan="" rowspan="" headers="">PDF</td>
                <td colspan="" rowspan="" headers="">08.10.2015</td>
              </tr>
              <tr>
                <td colspan="" rowspan="" headers="">Lorem ipsum</td>
                <td colspan="" rowspan="" headers="">PDF</td>
                <td colspan="" rowspan="" headers="">07.10.2015</td>
              </tr>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="texts">
            <br><br>
            <table class="table table-hover">
              <tr>
                <td colspan="" rowspan="" headers="">Lorem ipsum</td>
                <td colspan="" rowspan="" headers="">PDF</td>
                <td colspan="" rowspan="" headers="">09.10.2015</td>
              </tr>
              <tr>
                <td colspan="" rowspan="" headers="">Lorem ipsum</td>
                <td colspan="" rowspan="" headers="">DOC</td>
                <td colspan="" rowspan="" headers="">08.10.2015</td>
              </tr>
              <tr>
                <td colspan="" rowspan="" headers="">Lorem ipsum</td>
                <td colspan="" rowspan="" headers="">PDF</td>
                <td colspan="" rowspan="" headers="">07.10.2015</td>
              </tr>
            </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="photos">
            <br><br>
{% for posting in site.posts %}
{% assign images = posting.content | split:"<img " %}
  {% for image in images %}
    {% if image contains 'src="' and image contains "sensebox.org" %}
      {% assign imageMarkup = image | split:'/>' | first %}
      {% assign imageURL = imageMarkup | split:'"' %}
      {% assign imageFiletype = imageURL[1] | split:'.' | last | split:'?' | first %}
      <!--<tr>
        <td colspan="" rowspan="" headers=""><a href="{{ imageURL[1] }}">{{ imageURL[1] }}</a></td>
        <td colspan="" rowspan="" headers="">{{ imageFiletype | upcase }}</td>
        <td colspan="" rowspan="" headers="">{{ posting.date | date: '%d.%m.%Y' }}</td>
      </tr>-->
      <a href="{{ imageURL[1] }}"><img src="{{ imageURL[1] }}" title="{{ posting.date | date: '%d.%m.%Y' }}" class="docs-photo-gallery"/></a>
    {% endif %}
  {% endfor %}
{% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>