---
layout: page
id: hackathon
permalink: /hackathon/
lang: de
translationAvailable: false
---
{% assign t = site.data.translations.[page.lang].hackathon %}
<div class="page-header">
  <a name="hackathon"></a>
  <h1>senseBox Hackathon 2016</h1>
</div>

<ul class="nav nav-pills">
<li role="presentation"><a href="#was_wann_wo"><h4 class="smallcaps">Was Wann Wo?</h4></a></li>
<li role="presentation"><a href="#womit_wird_gearbeitet"><h4 class="smallcaps">Womit wird gearbeitet?</h4></a></li>
<li role="presentation"><a href="#teilnehmen"><h4 class="smallcaps">Teilnehmen</h4></a></li>
<li role="presentation"><a href="#unterkunft"><h4 class="smallcaps">Unterkunft</h4></a></li>
<li role="presentation"><a href="#jury"><h4 class="smallcaps">Jury</h4></a></li>
<li role="presentation"><a href="#preise"><h4 class="smallcaps">Preise</h4></a></li>
<li role="presentation"><a href="#kontakt"><h4 class="smallcaps">Kontakt</h4></a></li>
</ul>
<hr>

<div class="row">
  <div class="col-md-3">
    <a href="http://award.codeweek.de/" target="_blank">
      <img style="max-width: 100%;" src="{{ site.baseurl | append: '/images/CWA Logo 2016 _M_White.svg'}}" alt="Code Week Award Logo">
    </a>
  </div>
  <div class="col-md-7">
    <p>
      Dieses Jahr haben wir beim <a class="link" href="http://award.codeweek.de/projects/sensebox-hackathon/" target="_blank"><em>CodeWeek Award</em></a> gewonnen! Deswegen können wir im Sommer den <em>senseBox Hackathon</em> veranstalten, bei dem Teams aus Jugendlichen mit der <em>senseBox</em> und anderen Technologien in nur zwei Tagen clevere Projekte für unsere Umwelt entwickeln und tolle Preise gewinnen können! Also nehmt teil, rettet die Welt und sahnt ab!
    </p>
  </div>
  <div class="col-md-2">
    <img style="max-width: 100%;" src="{{ site.baseurl | append: '/images/codeweekwinner.jpg' }}" alt="Code Week Award Logo">
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="{{ site.baseurl | append: '/images/hackathon1.jpg'}}" target="_blank" class="thumbnail">
      <img src="{{ site.baseurl | append: '/images/hackathon1.jpg'}}" alt="Hackathon Foto">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="{{ site.baseurl | append: '/images/hackathon2.jpg'}}" target="_blank" class="thumbnail">
      <img src="{{ site.baseurl | append: '/images/hackathon2.jpg'}}" alt="Hackathon Foto">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="{{ site.baseurl | append: '/images/hackathon3.jpg'}}" target="_blank" class="thumbnail">
      <img src="{{ site.baseurl | append: '/images/hackathon3.jpg'}}" alt="Hackathon Foto">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="{{ site.baseurl | append: '/images/hackathon4.jpg'}}" target="_blank" class="thumbnail">
      <img src="{{ site.baseurl | append: '/images/hackathon4.jpg'}}" alt="Hackathon Foto">
    </a>
  </div>
</div>



<h3 class="smallcaps" id="was_wann_wo">Was Wann Wo?</h3>
<p>Im Rahmen eines zweitägigen Hackathons  treten Teams aus Jugendlichen ab 12 Jahren an, um die Jury mit ihrem Umwelt-Projekt zu überzeugen. Nach einer Einführung in die potentiell eingesetzten Technologien (Arduino, HTML, JavaScript und mehr) entwickeln die Teilnehmer eigenständig Tools zu den aktuellen Herausforderungen der Umwelt (z.B. Klimawandel, Luftqualität oder Lichtveschmutzung).
</p>
<p>
Neben den Coding-Sessions werden abends andere kleine Events wie zum Beispiel Geocaching oder ein gemeinsames Grillen angeboten. Die Veranstaltung ist <strong>kostenlos</strong>. Verpflegung wird gestellt. Fahrtkosten mit dem ÖPNV (regional) können übernommen werden.
</p>
<p>
  Wann: 21.08.2016 16:00 Uhr bis 23.08.2016 16:00 Uhr
</p>
<p>
  Wo: Am Institut für Geoinformatik, Heisenbergstr. 2, 48149 Münster
</p>

<hr>
<h3><a href="{{ site.baseurl | append: '/docs/flyer/flyer_sensebox_hackathon_small.pdf' }}" target="_blank">Hier findest Du den Hackathon Flyer</a></h3>
<hr>

<h3 class="smallcaps" id="womit_wird_gearbeitet">Womit wird gearbeitet?</h3>
<p>Wir stellen euch unser gesamtes Inventar zur Verfügung:</p>
<ul>
	<li>senseBox:edu Sets</li>
	<li>verschiede Arduinos</li>
	<li>eine Unzahl von Sensoren</li>
	<li>Raspberry Pi</li>
  <li>Amazon Echo</li>
	<li>verschiedene 3D-Drucker</li>
	<li>Microsoft Kinects</li>
  <li>Smart Watches</li>
	<li>Kameras</li>
	<li>Wetterballon</li>
	<li>Laptops, Tablets, Smartphones...</li>
</ul>

<h3 class="smallcaps" id="teilnehmen">Wie teilnehmen?</h3>
<p>
  Du hast Interesse beim senseBox Hackathon anzutreten? Wenn du min. 12 Jahre alt bist, dann bewirb dich allein oder mit Freunden/Mitschülern als Team! Dazu musst du mit einem maximal 140 Zeichen langem Text (einen Tweet/Facebook-Post) erklären, warum du, bzw. ihr teilnehmen wollt. Nutzt dafür den hashtag #CWAward und richtet den Post direkt an uns:  kontaktier uns dazu in den sozialen Medien <a href="https://twitter.com/intent/tweet?screen_name=sensebox_de" target="_blank"><img src="{{ site.baseurl | append: '/images/iconmonstr-twitter-4-icon.png'}}" alt="twitter icon"></a> oder <a href="https://www.facebook.com/sensebox.de" target="_blank"><img src="{{ site.baseurl | append: '/images/iconmonstr-facebook-4-icon.png'}}" alt="Facebook icon"></a> und trag den Link zu deinem Beitrag in dein Bewerbungsformular ein. Nutzt Du kein Facebook oder Twitter, dann trag deinen Text dazu direkt in das Bewerbungsformular ein.
</p>
<p>
  Wenn Du noch keine 18 bist, musst Du für die Bewerbung zwei Einverständniserklärungen von einer erziehungsberechtigten Person unterschreiben lassen.
</p>
<p>
  <a href="{{ site.baseurl | append: '/docs/Einverstaendniserklaerung_senseBox_Hackathon_neu.pdf'}}">Einverständniserklärung (Uni Münster)</a>
</p>
<p>
  <a href="https://github.com/sensebox/sensebox.github.io/files/259638/Einverstandniserklarung.U16_18.pdf">Einverständniserklärung (CodeWeek Award)</a>
</p>
<div style="text-align:center; padding: 50px;">
  <h1>Die Anmeldephase ist beendet! Vielen Dank für Eure Anmeldungen.</h1>
  <!--<h1 class="smallcaps"><a href="{{ site.baseurl | append: '/hackathon_registration/' }}">HIER ANMELDEN</a></h1>-->
</div>

<h3 class="smallcaps" id="unterkunft">Unterkunft</h3>
<div class="row">
  <div class="col-md-8">
    <p>Vor dem Institut für Geoinformatik wird im <a href='https://geourbanum.wordpress.com/'>GEOURBANUM</a> ein Zeltcamp eingerichtet. Alles weitere ist im Institut vorhanden.
    </p>
  </div>
  <div class="col-md-4">
    <a href="{{ site.baseurl | append: '/images/hackathon_campingarea.JPG'}}" target="_blank">
      <img src="{{ site.baseurl | append: '/images/hackathon_campingarea.JPG' }}" style="width:100%;" alt="Campingarea"  class="thumbnail">
    </a>
  </div>
</div>

<br>

<h3 class="smallcaps" id="jury">Jury</h3>
{% assign jurymembers = site.data.team.de.jury | sort: 'position' %}

<!-- count jurymembers -> if odd, there has to be a blank col in the end -->
<div hidden>
{% for jurymember in jurymembers %}
{% increment jurymember_count %}
{% capture oddOrEvenJurymemberCount %}{% cycle 'odd', 'even' %}{% endcapture %}
{% endfor %}
</div>

{% for jurymember in jurymembers %}
  {% capture firstLastInRow %}{% cycle 'first', 'last' %}{% endcapture %}

  {% if firstLastInRow == 'first' %}
    <div class="row">
  {% endif %}

    <div class="col-md-6">

      <div class="card" style="cursor: pointer;" data-toggle="collapse" data-target="#desc_{{ jurymember.position }}">
          <canvas class="header-bg" width="250" id="header-blur" style="background-image: url({{ jurymember.bgImage }});"></canvas>
          <div class="avatar">
              <img src="{{ site.baseurl | append: jurymember.image }}" alt="{{ jurymember.name }} - Foto"/>
          </div>
          <div class="content">
            <h4 style="clear:both">{{ jurymember.name }}</h4>
            <h5 style="clear:both"><a href="{{ jurymember.organisation-link }}" target="_blank">{{ jurymember.organisation }}</a></h5>
            <div id="desc_{{ jurymember.position }}" class="collapse">
              {{ jurymember.description }}
            </div>
            {% if jurymember.twitter %}
              <a href="{{ jurymember.twitter }}" target="_blank" class="social-media"><img src="{{ site.baseurl | append: '/images/iconmonstr-twitter-4-icon.png'}}" alt="Twitter icon"></a>
            {% endif %}
            {% if jurymember.linkedin %}
              <a href="{{ jurymember.linkedin }}" target="_blank" class="social-media"><img src="{{ site.baseurl | append: '/images/iconmonstr-linkedin-4-240.png'}}" alt="linkedIn icon"></a>
            {% endif %}
            {% if jurymember.github %}
              <a href="{{ jurymember.github }}" target="_blank" class="social-media"><img src="{{ site.baseurl | append: '/images/iconmonstr-github-icon.png'}}" alt="GitHub icon"></a>
            {% endif %}
            {% if jurymember.homepage %}
              <a href="{{ jurymember.homepage }}" target="_blank" class="social-media"><img src="{{ site.baseurl | append: '/images/iconmonstr-homepage.png'}}" alt="homepage icon"></a>
            {% endif %}
          </div>
      </div>
    </div>

  {% if firstLastInRow == 'last' %}
    </div>
  {% endif %}

  <!-- if this is the last element and the count is even, add blank col -->
  {% if jurymember.position == jurymember_count and oddOrEvenJurymemberCount == 'odd' %}
  <div class="col-md-6">
   </div>
    </div>
  {% endif %}


{% endfor %}

<h3 class="smallcaps" id="preise">Preise</h3>
<p>Zu gewinnen gibt es:</p>
<div class="row">
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card">
      <canvas class="price-header-bg" style="background-image: url(https://www.uni-muenster.de/news/data/img/2015/12/8066-DCCi2Z27-newsML.jpg);"></canvas>
      <div class="price-text">
        <h3><a href="https://www.sensebox.de/de/products/">senseBox:edu</a></h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card">
      <canvas class="price-header-bg" style="background-image: url(https://3druck.com/wp-content/uploads/2013/12/NEO-GermanRepRap-3D-Drucker.jpg);"></canvas>
      <div class="price-text">
        <h3><a href="https://www.germanreprap.com/">3D-Drucker</a></h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card">
      <canvas class="price-header-bg" style="background-image: url(https://www8.pcmag.com/media/images/419317-garmin-vivofit.png?thumb=y);"></canvas>
      <div class="price-text">
        <h3><a href="https://www.garmin.com/de-DE/">Fitness Tracker</a></h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card">
      <canvas class="price-header-bg" style="background-image: url({{ site.baseurl | append: '/images/amazon_fire.jpg'}});"></canvas>
      <div class="price-text">
        <h3><a href="https://www.amazon.de/Fire-Tablet-Zoll-Display-WLAN-Schwarz/dp/B00ZDWLEEG">Amazon Fire Tablet</a></h3>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-6">
    <div class="card">
      <canvas class="price-header-bg" style="background-image: url(https://www1-lw.xda-cdn.com/files/2015/01/Ultimate-Material-Lollipop-Collection-28.jpg);"></canvas>
      <div class="price-text">
        <h3>und vieles mehr...</h3>
      </div>
    </div>
  </div>
</div>

<h3 class="smallcaps" id="kontakt">Kontakt</h3>
<p>
  Du hast noch Fragen? Schreib uns eine Mail <a href="mailto:info@sensebox.de">info@sensebox.de</a>, kontaktiere uns bei <a href="https://twitter.com/intent/tweet?screen_name=sensebox_de" target="_blank"><img src="{{ site.baseurl | append: '/images/iconmonstr-twitter-4-icon.png'}}" alt="Twitter icon"></a> oder <a href="https://www.facebook.com/sensebox.de" target="_blank"><img src="{{ site.baseurl | append: '/images/iconmonstr-facebook-4-icon.png'}}" alt="Facebook icon"></a> oder ruf uns an: +49 251 83 33083
</p>

<h3 class="smallcaps">Sponsoren</h3>
<div class="row">
  <div class="col-lg-12">
    <div class="row sponsor">
    <ul>
      <li>
        <a href="http://award.codeweek.de/" target="_blank">
          <img src="{{ site.baseurl | append: '/images/CWA Logo 2016 _M_White.svg'}}" alt="Make Light Logo">
        </a>
      </li>
      <li>
        <a href="http://www.photonik-campus.de/make-light/" target="_blank">
          <img src="{{ site.baseurl | append: '/images/sponsors/make-light.png'}}" alt="Make Light Logo">
        </a>
      </li>
      <li>
        <a href="https://www.germanreprap.com/" target="_blank">
          <img src="{{ site.baseurl | append: '/images/sponsors/reprap.png'}}" alt="RepRap Logo">
        </a>
      </li>
      <li>
        <a href="http://www.watterott.com/" target="_blank">
          <img src="{{ site.baseurl | append: '/images/sponsors/watterott.png'}}" alt="Watterott Logo">
        </a>
      </li>
      <li>
        <a href="http://www.garmin.com/de-DE" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Garmin_logo.svg/2000px-Garmin_logo.svg.png" alt="Garmin Logo">
        </a>
      </li>
      <li>
        <a href="https://aws.amazon.com/de/" target="_blank">
          <img src="{{ site.baseurl | append: '/images/sponsors/AWS_Logo_PoweredBy.jpg'}}" alt="AWS">
        </a>
      </li>
    </ul>
    </div>
  </div>
</div>
