---
layout: page
id: hackathon
permalink: /hackathon/
lang: de
---
{% assign t = site.data.translations.[page.lang].hackathon %}
<div class="page-header">
  <a name="hackathon"></a>
  <h1>senseBox Hackathon 2016</h1>
</div>

<ul class="nav nav-pills">
<li role="presentation"><a href="#was_wann_wo"><h4 class="smallcaps">Was Wann Wo?</h4></a></li>
<li role="presentation"><a href="#womit_wird_gearbeitet"><h4 class="smallcaps">Womit wird gearbeitet?</h4></a></li>
<li role="presentation"><a href="#teilnehmen"><h4 class="smallcaps">Teilnehmen</h4></a></li>
<li role="presentation"><a href="#unterkunft"><h4 class="smallcaps">Unterkunft</h4></a></li>
<li role="presentation"><a href="#jury"><h4 class="smallcaps">Jury</h4></a></li>
<li role="presentation"><a href="#preise"><h4 class="smallcaps">Preise</h4></a></li>

</ul>
<hr>

<div class="media">
  <div class="media-left">
    <a href="http://award.codeweek.de/" target="_blank">
      <img class="media-object" width="300px" src="{{ site.baseurl | append: '/images/CWA Logo 2016 _M_White.svg'}}" alt="Code Week Award Logo">
    </a>
  </div>
  <div class="media-body">
    <p>
      Dieses Jahr haben wir beim <a class="link" href="http://award.codeweek.de/projects/sensebox-hackathon/" target="_blank"><em>CodeWeek Award</em></a> gewonnen! Deswegen können wir im Sommer den <em>senseBox Hackathon</em> veranstalten, bei dem Teams aus Jugendlichen mit der <em>senseBox</em> und anderen Technologien in nur zwei Tagen clevere Projekte für unsere Umwelt entwickeln und tolle Preise gewinnen können! Also nehmt teil, rettet die Welt und sahnt ab!
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="{{ site.baseurl | append: '/images/hackathon1.png'}}" target="_blank" class="thumbnail">
      <img src="{{ site.baseurl | append: '/images/hackathon1.png'}}" alt="">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="{{ site.baseurl | append: '/images/hackathon2.png'}}" target="_blank" class="thumbnail">
      <img src="{{ site.baseurl | append: '/images/hackathon2.png'}}" alt="">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="{{ site.baseurl | append: '/images/hackathon3.png'}}" target="_blank" class="thumbnail">
      <img src="{{ site.baseurl | append: '/images/hackathon3.png'}}" alt="">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="{{ site.baseurl | append: '/images/hackathon4.png'}}" target="_blank" class="thumbnail">
      <img src="{{ site.baseurl | append: '/images/hackathon4.png'}}" alt="">
    </a>
  </div>
</div>



<h3 class="smallcaps" id="was_wann_wo">Was Wann Wo?</h3>
<p>Im Rahmen eines zweitägigen Hackathons  treten Teams aus Jugendlichen ab 12 Jahren an, um die Jury mit ihrem Umwelt-Projekt zu überzeugen. Nach einer Einführung in die potentiell eingesetzten Technologien (Arduino, HTML, JavaScript und mehr) entwickeln die Teilnehmer eigenständig Tools zu den aktuellen Herausforderungen der Umwelt (z.B. Klimawandel, Luftqualität oder Lichtveschmutzung).
</p>
<p>
Neben den Coding-Sessions werden abends andere kleine Events wie zum Beispiel Geocaching oder ein gemeinsames Grillen angeboten. Die Veranstaltung ist <strong>kostenlos</strong>. Verpflegung wird gestellt.
</p>
<p>
  Wann: 21.08.2016 16:00 Uhr bis 23.08.2016 16:00 Uhr
</p>
<p>
  Wo: Am Institut für Geoinformatik, Heisenbergstr. 2, 48149 Münster
</p>

<h3 class="smallcaps" id="womit_wird_gearbeitet">Womit wird gearbeitet?</h3>
<p>Wir stellen euch unser gesamtes Inventar zur Verfügung:</p>
<ul>
	<li>senseBox:edu Sets</li>
	<li>verschiede Arduinos</li>
	<li>eine Unzahl von Sensoren</li>
	<li>Raspberry Pi</li>
	<li>verschiedene 3D-Drucker</li>
	<li>Microsoft Kinects</li>
  <li>Garmin Smart Watches</li>
	<li>Kameras</li>
	<li>Wetterballon</li>
	<li>Laptops, Tablets, Smartphones...</li>
</ul>

<h3 class="smallcaps" id="teilnehmen">Wie teilnehmen?</h3>
<p>
  Du hast Interesse beim senseBox Hackathon anzutreten? Wenn du min. 12 Jahre alt bist, dann bewirb dich allein oder mit Freunden/Mitschülern als Team! Dazu musst du mit einem maximal 140 Zeichen langem Text (einen Tweet/Facebook-Post) erklären, warum du, bzw. ihr teilnehmen wollt. Nutzt dafür den hashtag #CWAward und richtet den Post direkt an uns:  kontaktier uns dazu in den sozialen Medien <a href="https://twitter.com/intent/tweet?screen_name=sensebox_de" target="_blank"><img src="{{ site.baseurl | append: '/images/iconmonstr-twitter-4-icon.png'}}"></a> oder <a href="https://www.facebook.com/sensebox.de" target="_blank"><img src="{{ site.baseurl | append: '/images/iconmonstr-facebook-4-icon.png'}}"></a> und trag den Link zu deinem Beitrag in dein Bewerbungsformular ein. Nutzt Du kein Facebook oder Twitter, dann trag deinen Text dazu direkt in das Bewerbungsformular ein.
</p>
<p>
  Wenn Du noch keine 18 bist, musst Du für die Bewerbung zwei Einverständniserklärungen von einer erziehungsberechtigten Person unterschreiben lassen.
</p>
<p>
  <a href="#">Einverständniserklärung (Uni Münster)</a>
</p>
<p>
  <a href="#">Einverständniserklrung 16-18 (CodeWeek Award)</a>
</p>
<p>
  <a href="#">Einverständniserklrung unter 16 (CodeWeek Award)</a>
</p>

<h3 class="smallcaps" id="unterkunft">Unterkunft</h3>
<p>Vor dem Institut für Geoinformatik wird im <a href='https://geourbanum.wordpress.com/'>GEOURBANUM</a> ein Zeltcamp eingerichtet. Alles weitere ist im Institut vorhanden.
</p>
<img src="{{ site.baseurl | append: '/images/hackathon_campingarea.JPG' }}" style="width:75%" alt="Campingarea">

<br>
<h3 class="smallcaps"><a href="#">HIER BEWERBEN</a></h3>

<h3 class="smallcaps" id="jury">Jury</h3>
{% assign jurymembers = site.data.team.de.jury | sort: 'position' %}
{% for jurymember in jurymembers %}

  {% if jurymember.position == 1 or jurymember.position == 3 or jurymember.position == 5 %}
    <div class="row">
  {% endif %}


    <div class="col-md-6" style="cursor: pointer;" data-toggle="collapse" data-target="#desc_{{ jurymember.position }}">

      <div class="card">
          <canvas class="header-bg" width="250" id="header-blur" style="background-image: url({{ jurymember.bgImage }});"></canvas>
          <div class="avatar">
              <img src="{{ site.baseurl | append: jurymember.image }}" />
          </div>
          <div class="content">
            <h4 style="clear:both">{{ jurymember.name }}</h4>
            <h5 style="clear:both"><a href="{{ jurymember.organisation-link }}" target="_blank">{{ jurymember.organisation }}</a></h5>
            <div id="desc_{{ jurymember.position }}" class="collapse">
              {{ jurymember.description }}
            </div>
            {% if jurymember.twitter %}
              <a href="{{ jurymember.twitter }}" target="_blank" class="social-media"><img src="{{ site.baseurl | append: '/images/iconmonstr-twitter-4-icon.png'}}"></a>
            {% endif %}
            {% if jurymember.linkedin %}
              <a href="{{ jurymember.linkedin }}" target="_blank" class="social-media"><img src="{{ site.baseurl | append: '/images/iconmonstr-linkedin-4-240.png'}}"></a>
            {% endif %}
            {% if jurymember.github %}
              <a href="{{ jurymember.github }}" target="_blank" class="social-media"><img src="{{ site.baseurl | append: '/images/iconmonstr-github-icon.png'}}"></a>
            {% endif %}
            {% if jurymember.homepage %}
              <a href="{{ jurymember.homepage }}" target="_blank" class="social-media"><img src="{{ site.baseurl | append: '/images/iconmonstr-homepage.png'}}"></a>
            {% endif %}
          </div>
      </div>
    </div>

  {% if jurymember.position == 2 or jurymember.position == 4 or jurymember.position == 6 %}
    </div>
  {% endif %}


{% endfor %}

<h3 class="smallcaps" id="preise">Preise</h3>
<p>Zu gewinnen gibt es:</p>
<ul>
  <li><a href="http://www.sensebox.de/de/products/"<em>senseBox:edu</em> sets</a></li>
  <li>German RepRap NEO - 3D-Drucker</li>
  <li>Garmin Smartwatches</li>
  <li>viele andere tolle Technikpreise!</li>
</ul>


<h3 class="smallcaps">Sponsoren</h3>
<div class="row">
  <div class="col-lg-12">
    <div class="row sponsor">
    <ul>
      <li>
        <a href="http://www.photonik-campus.de/make-light/" target="_blank">
          <img src="{{ site.baseurl | append: '/images/sponsors/make-light.png'}}" alt="Make Light Logo">
        </a>
      </li>
      <li>
        <a href="https://www.germanreprap.com/" target="_blank">
          <img src="{{ site.baseurl | append: '/images/sponsors/reprap.png'}}" alt="RepRap Logo">
        </a>
      </li>
      <li>
        <a href="http://www.watterott.com/" target="_blank">
          <img src="http://blog.openptv.org/wp-content/uploads/2011/04/watterott_logo.png" alt="Watterott Logo">
        </a>
      </li>
      <li>
        <a href="http://www.garmin.com/de-DE" target="_blank">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Garmin_logo.svg/2000px-Garmin_logo.svg.png" alt="Watterott Logo">
        </a>
      </li>
    </ul>
    </div>
  </div>
</div>
