/* @import must be at top of file, otherwise CSS will not work */

@font-face {
    font-family: 'BrixSlab-Regular';
    src: url("BrixSlab-Regular.otf");
}

.BrixSlab-Regular {
    font-family: BrixSlab-Regular, Serif;
    font-weight: normal;
    font-style: normal;
}


/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    font-family: BrixSlab-Regular, Helvetica, sans-serif;
}

p {
    font-size: 1.3em;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    padding-top: 10px;
    max-height: 75px;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-toggle .collapsed {
    z-index: 99;
}

.icon-bar {
    background-color: white;
}

.navbar-nav>li>a:focus {
    background: none;
}

.active {
    background: none;
}

.navbar-brand {
    padding: 5px;
}

.logo {
    content: url("images/logo_bunt.png");
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.logo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.collapse.in, .collapsing{
  background-color: rgba(0, 0, 0, 0.7);
}
