<style>

  .error {
    font-size: 8em;
  }
  .error-card {
    /* Background pattern from subtlepatterns.com */
    background-image: url('{{ site.baseurl | append: "/images/weather.png" }}');
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    border-color: lightgrey;
    border-width: thin;
    border-radius: 5px;
    padding: 20px;
  }
  .button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button-red {
    background-color: white;
    color: black;
    border: 2px solid #4EAF47;
    border-radius: 2px;
  }

  .button-red:hover {
      background-color: #4EAF47;
      color: white;
  }
</style>
<div class="container">
  <div class="error-card">
    <h1 class="error">404</h1>
    <h1>😵 Oh no!</h1>
    <hr style="width:75%;border: solid white;"/>
    <h1>Die angeforderte Seite konnte nicht gefunden werden.</h1>
    <h2>Das sollte nicht passieren. Erstelle ein Issue auf GitHub, damit wir diesen Fehler beheben können.</h2>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/sensebox/sensebox.github.io/issues" data-style="mega" data-count-api="/repos/sensebox/sensebox.github.io#open_issues_count" data-count-aria-label="# issues on GitHub" aria-label="Issue sensebox/sensebox.github.io on GitHub">Issue</a>
<br />
    

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
