{% assign t = site.data.translations.[page.lang].background %}

<div class="page-header">
  <a name="about-us"></a>
  <h1>{{ t.aboutus.header }}</h1>
</div>
<p>{{ t.aboutus.description }}</p>

<div class="page-header">
  <a name="philosophie"></a>
  <h2 id="philosophy">{{ t.philosophy.header}}</h2>
</div>

<h3 class="smallcaps">{{ t.philosophy.citizenscience.header }}</h3>
<p>{{ t.philosophy.citizenscience.description}}</p>

<h3 class="smallcaps">{{ t.philosophy.education.header }}</h3>
<p>{{ t.philosophy.education.description}}</p>

<h3 class="smallcaps">{{ t.philosophy.openscience.header }}</h3>
<p>{{ t.philosophy.openscience.description}}</p>

<div class="page-header">
  <a name="team"></a>
  <h2 id="team">
    {% if page.lang == "en" %}
      The
    {% else %}
      Das
    {% endif %}
    Team</h2>
</div>
<svg id="meet-the-team" width="100%" height="700" font-family="sans-serif" font-size="10" text-anchor="middle"/>
<script src="{{ site.baseurl | append: '/assets/d3.min.js' }}"></script>
  <style>
    svg {
      margin:auto;
      display:block;
    }

    .node {
      cursor: pointer;
    }

  </style>
<script>
// Based on https://naustud.io/tech-stack/
// Based loosely from this D3 bubble graph https://bl.ocks.org/mbostock/4063269
// And this Forced directed diagram https://bl.ocks.org/mbostock/4062045
{% assign teammembers = site.data.team.[page.lang].members %}
let data = [
{% for teammember in teammembers %}
  {
    name: '{{ teammember.name }}',
    value: ({{ teammember.position }}),
    desc: '{{ teammember.description }}',
    icon: '{{ teammember.image }}',
    cat: 'framework'
  },
{% endfor %}
];
function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}
data = shuffle(data);

let svg = d3.select('#meet-the-team');
let width = d3.select('.container').property('clientWidth'); // get width in pixels
let height = +svg.attr('height');
let centerX = width * 0.5;
let centerY = height * 0.5;
let strength = 0.05;
let focusedNode;

let format = d3.format(',d');

let scaleColor = d3.scaleOrdinal(d3.schemeCategory20);

// use pack to calculate radius of the circle
let pack = d3.pack()
  .size([width, height]);

let forceCollide = d3.forceCollide(d => d.r + 1);

// use the force
let simulation = d3.forceSimulation()
  .force('charge', d3.forceManyBody())
  .force('collide', forceCollide)
  .force('x', d3.forceX(centerX ).strength(strength))
  .force('y', d3.forceY(centerY ).strength(strength));


let root = d3.hierarchy({ children: data })
  .sum(d => d.value);

// we use pack() to automatically calculate radius conveniently only
// and get only the leaves
let nodes = pack(root).leaves().map(node => {
  const data = node.data;
  return {
    x: centerX + (node.x - centerX) * 3, // magnify start position to have transition to center movement
    y: centerY + (node.y - centerY) * 3,
    r: 0, // for tweening
    radius: node.r, //original radius
    id: data.name.replace(/\s/g, '-'),
    name: data.name,
    value: data.value,
    icon: data.icon,
    desc: data.desc,
  };
});
simulation.nodes(nodes).on('tick', ticked);

let node = svg.selectAll('.node')
  .data(nodes)
  .enter().append('g')
  .attr('class', 'node')
  .call(d3.drag()
    .on('start', (d) => {
      if (!d3.event.active) { simulation.alphaTarget(0.2).restart(); }
      d.fx = d.x;
      d.fy = d.y;
    })
    .on('drag', (d) => {
      d.fx = d3.event.x;
      d.fy = d3.event.y;
    })
    .on('end', (d) => {
      if (!d3.event.active) { simulation.alphaTarget(0); }
      d.fx = null;
      d.fy = null;
    }));

node.append('circle')
  .attr('id', d => d.id)
  .attr('r', 0)
  .style('fill', '#e4e2e3')
  .transition().duration(1000).ease(d3.easeElasticOut)
    .tween('circleIn', (d) => {
      let i = d3.interpolateNumber(0, d.radius);
      return (t) => {
        d.r = i(t);
        simulation.force('collide', forceCollide);
      };
    });

node.append('clipPath')
  .attr('id', d => `clip-${d.id}`)
  .append('use')
  .attr('xlink:href', d => `#${d.id}`);

// display text as circle icon
node.filter(d => !String(d.icon).includes('images/'))
  .append('text')
  .classed('node-icon', true)
  .attr('clip-path', d => `url(#clip-${d.id})`)
  .selectAll('tspan')
  .data(d => d.icon.split(';'))
  .enter()
    .append('tspan')
    .attr('x', 0)
    .attr('y', (d, i, nodes) => (13 + (i - nodes.length / 2 - 0.5) * 10))
    .text(name => name);

// display image as circle icon
node
  .filter(d => String(d.icon).includes('images/'))
  .append('image')
  .classed('node-icon', true)
  .attr('clip-path', d => `url(#clip-${d.id})`)
  .attr('xlink:href', d => d.icon)
  .attr('x', d => -d.radius)
  .attr('y', d => -d.radius)
  .attr('height', d => d.radius * 2)
  .attr('width', d => d.radius * 2);

node.append('title')
  .text(d => d.name);

node.on('click', (currentNode) => {
  d3.event.stopPropagation();
  let currentTarget = d3.event.currentTarget; // the <g> el
  if (focusedNode) {
    focusedNode
    .attr('stroke-width', 0);
  }
  if (currentTarget === focusedNode) {
    // no focusedNode or same focused node is clicked
    return;
  }
  focusedNode = d3.select(currentTarget);

  focusedNode.attr('stroke', '#4EAF47')
  .attr('stroke-width', 10);

  d3.select('#selectedMember').attr('hidden', null);
  d3.select('#selectedMemberName').text(currentNode.name);
  d3.select('#selectedMemberImage').attr('src', currentNode.icon);
  d3.select('#selectedMemberDescription').html(currentNode.desc);

});

// blur
d3.select(document).on('click', () => {
  let target = d3.event.target;
//  // check if click on document but not on the circle overlay
  if (!target.closest('#circle-overlay') && focusedNode) {
    focusedNode
    .attr('stroke-width', 0);
  d3.select('#selectedMember').attr('hidden', true);
  }
});

function ticked() {
  node
    .attr('transform', d => `translate(${d.x},${d.y})`)
    .select('circle')
      .attr('r', d => d.r);
}
</script>
<div hidden id="selectedMember">
<h3 style="clear:both" id="selectedMemberName"></h3>
  <div class="row">
    <div class="col-sm-4">
      <img class="team-pic" id="selectedMemberImage"/>
    </div>
    <div class="col-sm-8">
      <div class="team-text">
        <p id="selectedMemberDescription"></p>
      </div>
    </div>
  </div>
</div>
