{% assign t = site.data.translations.[page.lang].blockly %}
<div class="page-header">
  <h1>{{ t.header }}</h1>
</div>
{{ t.description }}
<div class="page-header">
  <h1>Installation</h1>
</div>
{{ t.description_installieren }}

<p>&nbsp;</p>

     <div class="col-md-6 not-on-small display-cell">
        <img src="{{ site.baseurl | append: '/images/Genuino.png' }}" style="max-width:20%" />
        <a class="btn" href="https://sensebox.de/blockly" target="_blank" role="button">{{ t.link }}</a>                            
       </div>

      <div class="col-md-6 not-on-small display-cell">
         <img src="{{ site.baseurl | append: '/images/mcu_one_top.png' }}" style="max-width:15%" />
          <a class="btn" href="https://blockly.sensebox.de/ardublockly/?lang=de&board=sensebox-mcu" target="_blank" role="button">{{ t.links }}</a>
      </div>     

 <p>&nbsp;</p>    
   

<p style="text-align:center"><a href="https://sensebox.de/blockly" target="_blank"><img class="responsive-img" src="{{ site.baseurl | append: '/images/senseBox_blockly.gif'}}" alt="Blockly"></a></p>

