{% assign posts = site.posts | sort: 'date' | reverse %}
{% for post in posts %}
<div class="posts">
  <div class="row">
    <a href="{{ site.baseurl | append: post.url }}">
      {% if post.thumbnail %}
        <div class="col-lg-6 col-sm-6">
          <h2 class="post-title">{{ post.title }}</h2>
          <div class="clearfix">
            <strong>{{ post.date | date: '%d. %B %Y' }}</strong><span class="author">von {{ post.author }} </span>
          </div>
          <div class="post-abstract">
            <p>
              {{ post.abstract }}
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-sm-6 hidden-xs">
          <img class="press-pic" src="{{ site.baseurl | append: post.thumbnail }}" alt="{{ post.title }} - Logo"/>
        </div>
      {% else %}
        <div class="col-lg-12">
          <h2 class="post-title">{{ post.title }}</h2>
          <div class="clearfix">
            <strong>{{ post.date | date: '%d. %B %Y' }}</strong><span class="author">von {{ post.author }} </span>
          </div>
          <div class="post-abstract">
            <p>
              {{ post.abstract }}
            </p>
          </div>
        </div>
      {% endif %}
    </a>
  </div>
  <hr class="clear nomargin">
</div>
{% endfor %}
