<!--

{% assign t = site.data.translations.[page.lang].books %}
<div class="page-header">
  <h1>Books</h1>
</div>

<p>
  {{ t.description }}
</p>
<br><br>

<div>
  <div class="col-md-4">
    <div class="card">
      <a href="https://sensebox.github.io/books/senseBox:edu_{{ page.lang }}.pdf" class="overlay opacity-animation-fast" target="_blank">
        <em style="font-size: 1.4em;">PDF</em>
      </a>
      <a href="//edu.books.sensebox.de/{{ page.lang }}" style="text-decoration: none;" target="_blank">
        <canvas class="price-header-bg" style="background-image: url({{ site.baseurl | append: '/images/instructions_edu_bg.jpg'}});"></canvas>
        <div class="price-text" style="padding:20px;">
          <h3>senseBox:edu</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <a href="https://sensebox.github.io/books/senseBox:home_{{ page.lang }}.pdf" class="overlay opacity-animation-fast" target="_blank">
        <em style="font-size: 1.4em;">PDF</em>
      </a>
      <a href="//home.books.sensebox.de/{{ page.lang }}" style="text-decoration: none;" target="_blank">
        <canvas class="price-header-bg" style="background-image: url({{ site.baseurl | append: '/images/instructions_home_bg.jpg'}});"></canvas>
        <div class="price-text" style="padding:20px;">
          <h3>senseBox:home</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <a href="https://sensebox.github.io/books/senseBox:osem_{{ page.lang }}.pdf" class="overlay opacity-animation-fast" target="_blank">
        <em style="font-size: 1.4em;">PDF</em>
      </a>
      <a href="//osem.books.sensebox.de/{{ page.lang }}" style="text-decoration: none;" target="_blank">
        <canvas class="price-header-bg" style="background-image: url({{ site.baseurl | append: '/images/instructions_OSeM_bg.png'}});"></canvas>
        <div class="price-text" style="padding:20px;">
          <h3>openSenseMap</h3>
        </div>
      </a>
    </div>
  </div>

  <br>
  <p><b>{{ t.commenthint }}</b></p>
  <p>{{ t.instructions.content }}</p>
</div>


-->

{% assign t = site.data.translations.[page.lang].books %}


<link rel="stylesheet" href="/css/books.css">
<div>
          

  <div class="row">
    <div class="col-md-4 book-nav-item">
      <a   id = "v"  role="button">  
        <img src="{{ site.baseurl | append: '/images/Genuino.png' }}" style="max-width:70%" />
       </a>

      <div class = "middle">
        <div class = "text">SenseBox v1</div>
      </div>
      <div id="box-1">
        <a class="btn" href="//home.books.sensebox.de/{{ page.lang }}" role="button">home v1 &raquo;</a>
        <a class="btn" href="//edu.books.sensebox.de/{{ page.lang }}" role="button">edu v1  &raquo;</a>
      </div>
    </div> 
            
     <div class="col-md-4 book-nav-item">
      <a  id = "vv" role="button">
        <img src="{{ site.baseurl | append: '/images/mcu_one_top.png' }}"  style="max-width:60%" />
       </a>

            <div class = "middle">
          <div class = "text">SenseBox v2</div>
          </div>
          <div id = "box-2">
           <a class="btn"  href="//sensebox.github.io/books-v2/home/" role="button">home v2 &raquo;</a>
           <a class="btn"  href="//sensebox.github.io/books-v2/edu/" role="button">edu v2  &raquo;</a>
        </div>
      </div> 
             
      <div class="col-md-4 book-nav-item">
         <a  id = "vvv" role="button" href="//sensebox.github.io/books-v2/osem/">
          <img src="{{ site.baseurl | append: '/images/main/Microsoft Surface Book.png' }}" style="max-width:70%" /></a>
            <div>
             <div class = "mid">
               <div class = "text">OpenSenseMap</div>
           </div>
        </div>
      </div> 
          
  </div>
       
<script> 


$(document).ready(function(){
    $("#v").click(function(){
        console.log("hey hey ")
        $("#box-1").toggle();
        $("#box-2").hide();

     
    });

       $("#vv").click(function(){
        $("#box-2").toggle();
        $("#box-1").hide();

    });


  });      

</script>
