<!--

{% assign t = site.data.translations.[page.lang].books %}
<div class="page-header">
  <h1>Books</h1>
</div>

<p>
  {{ t.description }}
</p>
<br><br>

<div>
  <div class="col-md-4">
    <div class="card">
      <a href="https://sensebox.github.io/books/senseBox:edu_{{ page.lang }}.pdf" class="overlay opacity-animation-fast" target="_blank">
        <em style="font-size: 1.4em;">PDF</em>
      </a>
      <a href="//edu.books.sensebox.de/{{ page.lang }}" style="text-decoration: none;" target="_blank">
        <canvas class="price-header-bg" style="background-image: url({{ site.baseurl | append: '/images/instructions_edu_bg.jpg'}});"></canvas>
        <div class="price-text" style="padding:20px;">
          <h3>senseBox:edu</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <a href="https://sensebox.github.io/books/senseBox:home_{{ page.lang }}.pdf" class="overlay opacity-animation-fast" target="_blank">
        <em style="font-size: 1.4em;">PDF</em>
      </a>
      <a href="//home.books.sensebox.de/{{ page.lang }}" style="text-decoration: none;" target="_blank">
        <canvas class="price-header-bg" style="background-image: url({{ site.baseurl | append: '/images/instructions_home_bg.jpg'}});"></canvas>
        <div class="price-text" style="padding:20px;">
          <h3>senseBox:home</h3>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <a href="https://sensebox.github.io/books/senseBox:osem_{{ page.lang }}.pdf" class="overlay opacity-animation-fast" target="_blank">
        <em style="font-size: 1.4em;">PDF</em>
      </a>
      <a href="//osem.books.sensebox.de/{{ page.lang }}" style="text-decoration: none;" target="_blank">
        <canvas class="price-header-bg" style="background-image: url({{ site.baseurl | append: '/images/instructions_OSeM_bg.png'}});"></canvas>
        <div class="price-text" style="padding:20px;">
          <h3>openSenseMap</h3>
        </div>
      </a>
    </div>
  </div>

  <br>
  <p><b>{{ t.commenthint }}</b></p>
  <p>{{ t.instructions.content }}</p>
</div>


-->

{% assign t = site.data.translations.[page.lang].books %}


<div>
          
  <p>
    {{ t.description }}
  </p>
  <br>
  <div class="book-row row" style="padding-top: 2em;">

         <div class="col-md-3 book-nav-item">
      <a  id = "vv" role="button" title = "klicke um Version zu wählen">
        <img class="ut-select-img" src="{{ site.baseurl | append: '/images/mcu_one_top.png' }}"/>
       </a>
       <div>

        <div class = "middle">
          <h3 style="padding-bottom: 0;" class = "text">{{t.new-sensebox}}</h3>
          </div>
           <a class="btn"  href="//sensebox.github.io/books-v2/home/"  target="_blank" role="button">home &raquo;</a>
           <a class="btn"  href="//sensebox.github.io/books-v2/edu/"  target="_blank" role="button">edu &raquo;</a>
        </div>    
      </div> 

    <div class="col-md-3 book-nav-item">
      <a   id = "v"  role="button" title = "klicke um Version zu wählen" >  
        <img class="ut-select-img" src="{{ site.baseurl | append: '/images/Genuino.png' }}"/>
       </a>
       <div>
         <div class = "middle">
           <h3  style="padding-bottom: 0;" class = "text">{{t.old-sensebox}}</h3>
           <a class="btn" href="//home.books.sensebox.de/{{ page.lang }}" target="_blank" role="button">home &raquo;</a>
           <a class="btn" href="//edu.books.sensebox.de/{{ page.lang }}" target="_blank" role="button">edu &raquo;</a>
        </div>
       </div>
    </div> 
    
    <div class="col-md-3 book-nav-item">
         <a  id = "vvv" role="button" href="//sensebox.github.io/books-v2/osem/" target="_blank">
          <img class="ut-select-img" src="{{ site.baseurl | append: '/images/blockly_de.png' }}" /></a>
            <div>
             <div class = "mid">
               <h3 style="padding-bottom: 0;" class = "text">{{t.blockly}}</h3>
               <br>
               <a class="btn" href="https://sensebox.github.io/books-v2/blockly/" target="_blank" role="button">Blockly  &raquo;</a>
            </div>

        </div>
      </div> 

             
      <div class="col-md-3 book-nav-item">
         <a  id = "vvv" >
          <img class="ut-select-img" src="{{ site.baseurl | append: '/images/main/Microsoft Surface Book.png' }}" /></a>
            <div>
             <div class = "mid">
               <h3 style="padding-bottom: 0;" class = "text">{{t.osem}}</h3>
               <br>
               <a class="btn" href="//osem.books.sensebox.de/{{ page.lang }}" target="_blank" role="button">v1 &raquo;</a>
               <a class="btn" href="//sensebox.github.io/books-v2/osem/" target="_blank" role="button">v2  &raquo;</a>
            </div>

        </div>
      </div> 
          
  </div>
