{% assign t = site.data.translations.[page.lang].community %}
<h1 id="grants">{{ t.communityHeader }}</h1>
{% assign projects = site.data.community.[page.lang].community %}

<p>{{t.subHeader}}</p>

<input id="com-search" type="text" placeholder="Search..">
<div>Anzahl Ergebnisse: <span id="totalVisible"></span> </div>

<div id="community-list">
    {% for categorie in projects.categories %}
    <h2 class="category-header">{{categorie.name}}</h2>
    
    <ul>
        {% for project in categorie.projects %}
            <li class="card">
                <a class="card-link">
                    <div class="community-card">
                        <h3>{{project.name}} <span> | {{project.date | date: '%d.%m.%Y'}} ({{project.creator}})</span></h3>
                        <div class="info-box">
                            <div class="image-container">
                                <img src="{{project.image}}">
                            </div>
                            <div class="info-text">
                                <p><span class="light-op">Tags: </span>{{project.tags}}</p>
                                <p class="light-op">{{project.description}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
    
    {% endfor %}
</div>


<script>
    function checkNumber(){
        var numrelated=$('#community-list li:visible').length;
        $('#totalVisible').html(numrelated); 
    }
    $(document).ready(function(){
        
        $("#com-search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#community-list li").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
            checkNumber();
        });
        checkNumber()
        
    });
</script>