{% assign t = site.data.translations.[page.lang].events %}
<h1>senseBox.de/events</h1>

<h3>{{t.intro}}</h3>

<div style="text-align: center;" id="2018">
<h1>2018</h1>
      <div class="row events-row">
        {% assign events = site.events | sort: 'ending-date' %}
        {% for event in events %}
          {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
          {% capture eventendingdateunix %}{{event.ending-date | date: '%s'}}{% endcapture %}
          {% capture year %}{{event.ending-date | date: '%Y'}}{% endcapture %}
          {% if nowunix > eventendingdateunix and year =='2018' %}
            {% include event_template.html event=event %}
          {% endif %}
        {% endfor %}
      </div>

<div style="text-align: center;" id="2017">
        <h1>2017</h1>
              <h1 style="text-align: center;">{{ t.past_events }}</h1>
              <div class="row events-row">
                {% assign events = site.events | sort: 'ending-date' %}
                {% for event in events %}
                  {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
                  {% capture eventendingdateunix %}{{event.ending-date | date: '%s'}}{% endcapture %}
                  {% capture year %}{{event.ending-date | date: '%Y'}}{% endcapture %}
                  {% if nowunix > eventendingdateunix and year =='2017' %}
                    {% include event_template.html event=event %}
                  {% endif %}
                {% endfor %}
              </div>
        <br>

<div style="text-align: center;" id="2016">
      <h1>2016</h1>
            <h1 style="text-align: center;">{{ t.past_events }}</h1>
            <div class="row events-row">
              {% assign events = site.events | sort: 'ending-date' %}
              {% for event in events %}
                {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
                {% capture eventendingdateunix %}{{event.ending-date | date: '%s'}}{% endcapture %}
                {% capture year %}{{event.ending-date | date: '%Y'}}{% endcapture %}
                {% if nowunix > eventendingdateunix and year =='2016' %}
                  {% include event_template.html event=event %}
                {% endif %}
              {% endfor %}
            </div>
      <br>

