{% assign t = site.data.translations.[page.lang].go-edu %}
<div class="edu-go-page">
    <div class="topic-block">
        <h1 class="title">{{t.title}}</h1>
        <div class="content-container">
            <p class="quick-start-text">{{t.quick-start-intro}}</p>
<div class="row eq-height">
    <div class="col-md-4 col-eq-height well">
        <div class="first-steps">
        <a href="/instructions/de/01_connect.html"><h3>1. Verbinden</h3></a>
        <a href="/instructions/de/connect.html" class="thumbnail"><img src="/images/go/edu/connect.jpg" alt="..."></a>
        <p>Verbinde die senseBox MCU mit dem beigelegten USB Kabel mit deinem Computer</p>
        </div>
        </div>
        <div class="col-md-4 col-eq-height well">
        <a href="/instructions/de/02_construct.html"><h3>2. Zusammenbauen</h3></a>
        <a href="/instructions/de/construct.html" class="thumbnail" ><img src="/images/go/edu/connect.jpg" alt="..."></a>
        <p>Baue deine Schaltung auf oder verbinde die Sensoren mit der senseBox MCU</p>
        </div>
        <div class="col-md-4 col-eq-height well">
        <a href="/instructions/de/03_code.html"><h3>3. Programmieren</h3></a>
        <a href="/instructions/de/03_code.html" class="thumbnail"><img src="/images/go/edu/blockly.png" alt="..."></a>
        <p>Erstelle deine Programmcode online mithilfe von Blockly für die senseBox</p>
        </div>
</div>
<div class="row eq-height">
        <div class="col-md-4 well">
        <a href="/instructions/de/04_transfer.html"><h3>4. Übertragen</h3></a>
        <a href="/instructions/de/04_transfer.html" class="thumbnail"><img src="/images/go/edu/blockly.png" alt="..."></a>
        <p>Kompiliere den Programmcode und übertrage ihn auf deine senseBox MCU</p>
        </div>
        <div class="col-md-4 well">
        <h3>Hilfe</h3>
        <p>Du suchtst Hilfe oder benötigst mehr Informationen?</p>
        <ol>
            <a href="https://sensebox.de/material"><li>Material</li></a>
            <a href="https://forum.sensebox.de/"><li>Forum</li></a>
        </ol>
        </div>
        <div class="col-md-4 well">
        <h3>Projekte</h3>
        <p>Viele Projekte für die senseBox findest du online auf unserer Seite</p>
        </div>
</div>
    <div class="topic-block">
        <h1 class="title">{{t.arduino-title}}</h1>
        <div class="content-container">
            <p class="quick-start-text">{{t.arduino-intro}}</p>
            <ol class="quick-start-list">
                <li>{{t.arduino-install}}
                    <div class="image">
                        <a target="_blank" href="https://www.arduino.cc/en/Main/Software">Arduino</a>
                    </div>
                </li>
                <li>
                    <div class="text">
                        {{t.arduino-packages}}
                    </div>
                    <div class="image">
                        <a target="_blank" href="https://sensebox.github.io/books-v2/edu/de/erste-schritte/board-support-packages-installieren.html">https://sensebox.github.io/books-v2/edu/erste-schritte/board-support-packages-installieren.html</a>
                    </div>
                </li>
                <li>
                    <div class="text">
                        {{t.arduino-tests}}
                    </div>
                    <div class="code">
                        <textarea rows="6" cols="30" disabled="true">
    void setup() {
        pinMode(7, OUTPUT);
        digitalWrite(7,HIGH);
    }
    void loop() {
    }
                        </textarea>
                    </div>
                </li>
                <li>{{t.arduino-copy}}
                    <div class="image">
                        <img src="/images/go/edu/pfeil.png">
                    </div>
                </li>
            </ol>
        
            <p>{{t.arduino-outro}}</p>
        </div>
    </div>
    
    <div class="topic-block">
        <h1 class="title">{{t.support-title}}</h1>
        <p>{{t.support}}</p>
    </div>
    
    <div class="topic-block">
        <h1 class="title">{{t.experiment-title}}</h1>
        <p>{{t.experiment}}</p>
        <div class="image">
            <a class="exp-link" target="_blank" href="https://sensebox.github.io/books-v2/edu/">senseBox:edu Buch</a>
        </div>
    </div>
</div>


<!-- <h1 class="title">{{t.title}}</h1>
<div class="ut-container">
    <div class="ut-item">
        <div class="ut-item-head">
            <h1>{{t.first-steps}}</h1>
            <p>{{t.first-steps-text}}</p>
        </div>
        <div class="ut-item-body">
            <ol>
                <li><a target="_blank" href="https://sensebox.github.io/books-v2/edu/erste-schritte/software-installation.html">{{t.software-installation}}</a></li>
                <li><a target="_blank" href="https://sensebox.github.io/books-v2/edu/erste-schritte/anschluss-und-verkabelung.html">{{t.hardware-install}}</a></li>
                <li><a target="_blank" href="https://sensebox.github.io/books-v2/edu/erste-schritte/registrierung-auf-der-openSenseMap.html">{{t.osem-reg}}</a></li>
            </ol>
        </div>
    </div>

    <div class="ut-item">
        <div class="ut-item-head">
            <h1>{{t.components}}</h1>
            <p>{{t.components-text}}</p>
        </div>
        <div class="ut-item-body">
            <ol>
                <li><a target="_blank" href="https://sensebox.github.io/books-v2/edu/komponenten/sensebox-mcu.html">{{t.mcu}}</a></li>
                <li><a target="_blank" href="https://sensebox.github.io/books-v2/edu/komponenten/bees/">{{t.bees}}</a></li>
                <li><a target="_blank" href="https://sensebox.github.io/books-v2/edu/komponenten/sensoren/">{{t.sensors}}</a></li>
                <li><a target="_blank" href="https://sensebox.github.io/books-v2/edu/komponenten/zubehoer/">{{t.zubehoer}}</a></li>
            </ol>
        </div>
    </div>

    <div class="ut-item">
            <div class="ut-item-head">
                <h1>{{t.experiments}}</h1>
                <p>{{t.experiments-text}}</p>
            </div>
            <div class="ut-item-body">
                <ol>
                    <li><a target="_blank" href="https://sensebox.github.io/books-v2/edu/projekte/Umweltstation/">{{t.weather-station}}</a></li>
                    <li><a target="_blank" href="https://sensebox.github.io/books-v2/edu/projekte/verkehrszaehlerv2.html">{{t.traffic-counter}}</a></li>
                </ol>
            </div>
        </div>
    

    <div class="ut-item">
        <div class="ut-item-head">
            <h1>{{t.help}}</h1>
            <p>{{t.help-text}}</p>
        </div>
        <div class="ut-item-body">
            <ul>
                <li><a target="_blank" href="https://forum.sensebox.de/">{{t.forum}}</a></li>
                <li><a href="mailto:support@sensebox.de">{{t.mail}}</a></li>
                <li><a target="_blank" href="https://sensebox.github.io/books-v2/edu/hilfe/hilfe.html">FAQ</a></li>
            </ul>
        </div>
    </div>

    <div class="ut-item">
        <div class="ut-item-head">
            <h1>{{t.links}}</h1>
            <p>{{t.links-text}}</p>
        </div>
        <div class="ut-item-body">
            <ul>
                <li><a target="_blank" href="https://opensensemap.org/">openSenseMap</a></li>
                <li><a target="_blank" href="https://blockly.sensebox.de/ardublockly/">Blockly</a></li>
            </ul>
        </div>
    </div>

</div> -->