{% assign t = site.data.translations.[page.lang].go-edu %}
<div class="edu-go-page">
    <div class="topic-block">
        <h1 class="title">{{t.title}}</h1>
        <div class="content-container">
            <p class="quick-start-text">{{t.quick-start-intro}}</p>
            <div class="row eq-height">
                <div class="col-md-4 col-eq-height well">
                        <div class="project-inner">
                    <div class="first-steps">
                        <a href="/instructions/de/01_connect.html">
                            <h3>1. Verbinden</h3>
                        </a>
                        <a href="/instructions/de/01_connect.html" class="thumbnail"><img src="/images/go/edu/connect.jpg"
                                alt="..."></a>
                        <p>Verbinde die senseBox MCU mit dem beigelegten USB Kabel mit deinem Computer</p>
                        <a href="/instructions/de/01_connect.html" class="btn btn-xs">Mehr Informationen</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-eq-height well">
                        <div class="project-inner">
                    <a href="/instructions/de/02_construct.html">
                        <h3>2. Zusammenbauen</h3>
                    </a>
                    <a href="/instructions/de/construct.html" class="thumbnail"><img src="/images/go/edu/connect.jpg"
                            alt="..."></a>
                    <p>Baue deine Schaltung auf oder verbinde die Sensoren mit der senseBox MCU</p>
                    <a href="/instructions/de/connect.html" class="btn btn-xs">Mehr Informationen</a>
                    </div>
                </div>
                <div class="col-md-4 col-eq-height well">
                        <div class="project-inner">
                    <a href="/instructions/de/03_code.html">
                        <h3>3. Programmieren</h3>
                    </a>
                    <a href="/instructions/de/03_code.html" class="thumbnail"><img src="/images/go/edu/blockly.png"
                            alt="..."></a>
                    <p>Erstelle deine Programmcode online mithilfe von Blockly für die senseBox</p>
                    <a href="/instructions/de/connect.html" class="btn btn-xs">Mehr Informationen</a>
                    </div>
                </div>
            </div>
            <div class="row eq-height">
                <div class="col-md-4 col-eq-height well">
                    <div class="project-inner">
                    <a href="/instructions/de/04_transfer.html">
                        <h3>4. Übertragen</h3>
                    </a>
                    <a href="/instructions/de/04_transfer.html" class="thumbnail"><img src="/images/go/edu/blockly.png"
                            alt="..."></a>
                    <p>Kompiliere den Programmcode und übertrage ihn auf deine senseBox MCU</p>
                    <a href="/instructions/de/connect.html" class="btn btn-xs">Mehr Informationen</a>
                </div>
                </div>
                <div class="col-md-4 col-eq-height well">
                    <h3>Weiter gehts!</h3>
                    <p>Weitere Möglichkeiten mit der senseBox zu arbeiten</p>
                    <ol>
                        <a href="/instructions/de/05_arduino_ide.html">
                            <li>Arbeiten mit der Arduino IDE</li>
                        </a>
                        <a href="/instructions/de/06_app.html">
                            <li>Arbeiten mit der App</li>
                        </a>
                        <a href="https://sensebox.de/material">
                            <li>Material</li>
                        </a>
                        <a href="https://forum.sensebox.de/">
                            <li>Forum</li>
                        </a>
                    </ol>
                </div>
                <div class="col-md-4 col-eq-height well">
                    <h3>Projekte</h3>
                    <p>Viele Projekte für die senseBox findest du online auf unserer Seite</p>
                </div>
            </div>
        </div>
    </div>
</div>