{% assign t = site.data.translations.[page.lang].go-edu %}
<div class="edu-go-page">
    <div class="topic-block">
        <h1 class="title">{{t.title}}</h1>
        <div class="content-container">
            <p class="quick-start-text">{{t.quick-start-intro}}</p>
            <div class="row eq-height">
                <div class="col-md-4 col-eq-height well">
                    <div class="project-inner">
                        <div class="first-steps">
                            <a href="/documentation/de/edu_Los_gehts.html">
                                <h3>Los gehts</h3>
                            </a>
                            <a href="/documentation/de/edu_Los_gehts.html" class="thumbnail"><img
                                    src="/images/go/edu/connect.jpg" alt="..."></a>
                            <p>Eine kurze Anleitung, die dir die erste Schritte mit der senseBox zeigt.</p>
                            <a href="/documentation/de/edu_Los_gehts.html" class="btn btn-xs">Weiterlesen</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-eq-height well">
                    <div class="project-inner">
                        <a href="/de/projects.html">
                            <h3>Projekte</h3>
                        </a>
                        <a href="/de/projects.html" class="thumbnail"><img src="/images/go/edu/projekte.png"
                                alt="..."></a>
                        <p>Auf der Projekteseite findest du weitere spannende Projekte für die senseBox</p>
                        <a href="/de/projects.html" class="btn btn-xs">Zur Projekteseite</a>
                    </div>
                </div>
                <div class="col-md-4 col-eq-height well">
                    <div class="project-inner">
                        <h3>{{ t.more-headline }}</h3>
                        <p>{{ t.more-description }}</p>
                        <ol>
                            <a href="/documentation/de/editoren.html">
                                    <li>{{ t.editoren }}</li>
                                </a>
                            <a href="/documentation/de/arduino_ide.html">
                                <li>{{ t.arduino-ide }}</li>
                            </a>
                            <a href="https://sensebox.de/material">
                                <li>{{ t.material }}</li>
                            </a>
                            <a href="https://forum.sensebox.de/">
                                <li>Forum</li>
                            </a>
                            <a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/faq'}}">
                                <li>FAQ</li>
                            </a>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>