{% assign t = site.data.translations.[page.lang].go-mini %}
<div class="edu-go-page">
    <div class="topic-block">
        <h1 class="title">{{t.title}}</h1>
        <div class="content-container">
            <p class="quick-start-text">{{t.quick-start-intro}}</p>
            <div class="row eq-height">
                <div class="col-md-4 col-eq-height well">
                    <div class="project-inner">
                        <div class="first-steps">
                            <a href="/instructions_edu/de/Los_gehts.html">
                                <h3>{{ t.go }}</h3>
                            </a>
                            <a href="/instructions_edu/de/Los_gehts.html" class="thumbnail"><img
                                    src="/images/go/edu/connect.jpg" alt="..."></a>
                            <p>{{ t.go-short-intro }}</p>
                            <a href="/instructions_edu/de/Los_gehts.html" class="btn btn-xs">{{ t.go-button }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-eq-height well">
                    <div class="project-inner">
                        <a href="/de/projects.html">
                            <h3>{{ t.projects }}</h3>
                        </a>
                        <a href="/de/projects.html" class="thumbnail"><img src="/images/go/edu/projekte.png"
                                alt="..."></a>
                        <p>{{ t.projects-short }}</p>
                        <a href="/de/projects.html" class="btn btn-xs">Zur Projekteseite</a>
                    </div>
                </div>
                <div class="col-md-4 col-eq-height well">
                    <div class="project-inner">
                        <h3>{{ t.more-headline }}</h3>
                        <p>{{ t.more-description }}</p>
                        <ol>
                            <a href="/instructions_edu/de/05_arduino_ide.html">
                                <li>{{ t.arduino-ide }}</li>
                            </a>
                            <a href="/instructions_edu/de/06_app.html">
                                <li>{{ t.app }}</li>
                            </a>
                            <a href="https://sensebox.de/material">
                                <li>{{ t.material }}</li>
                            </a>
                            <a href="https://forum.sensebox.de/">
                                <li>Forum</li>
                            </a>
                            <a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/faq'}}">
                                <li>FAQ</li>
                            </a>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>