{% assign t = site.data.translations.[page.lang].imprint %}
<h1>{{t.header}}</h1>

<h2>{{t.info.header}}</h2>
<p>{{t.info.address}}
</p>
<h2>{{t.contact.header}}</h2>
<p>{{t.contact.details}}
</p>
<h2>{{t.responseible.header}}</h2>
<p>{{t.responsible.details}}
</p>
<h2>{{t.dispute.header}}</h2>
<p>{{t.dispute.content1}}</p>
<p>{{t.dispute.content2}}</p>
<h3>{{t.liability.content.header}}</h3>
<p>{{t.liability.content.content1}}</p>
<p>{{t.liability.content.content2}}</p>
<h3>{{t.liability.links.header}}</h3>
<p>{{t.liability.links.content1}}</p>
<p>{{t.liability.links.content2}}</p>
<h3>{{t.copyright.header}}</h3>
<p>{{t.copyright.content1}}</p>
<p>{{t.copyright.content2}}</p>

<p>Social Media Icons: Iconmonstr</p>
<div>Icons made by
  <a href="http://www.flaticon.com/authors/popcorns-arts" title="Popcorns Arts">Popcorns Arts</a> from
  <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
</div>
<div>Icons made by
  <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from
  <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
</div>
<div>Icons made by
  <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from
  <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
</div>
