{% assign t = site.data.translations.[page.lang].main %}

    <div class="marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
          <div class="col-lg-4">
            <a href="{{ site.baseurl | append: "/" | append: page.lang | append: "/products" }}" class="hero-product">
              <h2>senseBox:home</h2>
              <img src="{{ site.baseurl | append: '/images/senseBox_home_circle_500.png' }}" alt="senseBox:home" class="hero-product-img">
              <p>{{ t.home_info }}</p>
              <p><button class="btn" href="{{ site.baseurl | append: "/" | append: page.lang | append: "/products" }}" role="button" type="button">{{ t.further-infos}} &raquo;</button></p>
            </a>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <a href="{{ site.baseurl | append: "/" | append: page.lang | append: "/products" }}" class="hero-product">
              <h2>senseBox:edu</h2>
              <img src="{{ site.baseurl | append: '/images/senseBox_edu_500.png' }}" alt="senseBox:edu" class="hero-product-img">
              <p>{{ t.edu_info }}</p>
              <p><button class="btn" href="{{ site.baseurl | append: "/" | append: page.lang | append: "/products" }}" role="button" type="button">{{ t.further-infos}} &raquo;</button></p>
            </a>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <a href="{{ site.baseurl | append: "/" | append: page.lang | append: "/osem" }}" class="hero-product">
              <h2>openSenseMap</h2>
              <img src="{{ site.baseurl | append: '/images/osem_laptop_500.png' }}" alt="openSenseMap" class="hero-product-img"/>
              <p>{{ t.osem_info }}</p>
              <p><button class="btn" href="{{ site.baseurl | append: "/" | append: page.lang | append: "/osem" }}" role="button" type="button">{{ t.further-infos}} &raquo;</button></p>
            </a>
          </div>
          <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <hr />

      <h1 style="text-align: center;">{{ t.news }}</h1>
      <div class="row">
      {% assign posts = site.posts | sort: 'date' | reverse %}
      {% for post in posts %}
        {% if forloop.index0 == 2%}
          {% break %}
        {% else %}
          <a href="{{ site.url | append: post.url }}">
            <div class="col-sm-6 col-md-6 col-lg-6">
              <div class="thumbnail">
                <img src="{{ site.baseurl | append: post.thumbnail }}" alt="{{ post.title }} - Logo">
                <div class="caption">
                  <h3>{{ post.title }}</h3>
                  <p>{{ post.abstract }}</p>
                  <p><button href="#" class="btn" role="button">{{ t.read }}</button>
                </div>
              </div>
            </div>
          </a>
        {% endif %}
      {% endfor %}
      </div>
      <div style="text-align: center;">
        <p><a class="btn" href="{{ site.url | append: "/blog" }}" role="button">{{ t.go-to-blog }} &raquo;</a></p>
      </div>
      <hr />
      <h1>{{ t.upcoming_events }}</h1>
      <div class="container">
        {% assign events = site.events | sort: 'ending-date' %}
        {% for event in events %}
          {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
          {% capture eventendingdateunix %}{{event.ending-date | date: '%s'}}{% endcapture %}
          {% if eventendingdateunix > nowunix %}
            {% include event_template.html event=event %}
          {% endif %}
        {% endfor %}
      </div>
     <hr />
      <h1 style="text-align: center;">Partner</h1>
      <div class="row">
        <div class="col-lg-12">
          <div class="row sponsor">
          <ul>
            <li>
              <a href="http://www.gi-at-school.de" target="_blank">
                <img src="{{ site.baseurl | append: "/images/sponsors/giatschool.png" }}" alt="giatschool Logo">
              </a>
            </li>
            <li>
              <a href="https://ifgi.uni-muenster.de" target="_blank">
                <img src="{{ site.baseurl | append: "/images/sponsors/ifgi.png" }}" alt="ifgi Logo">
              </a>
            </li>
            <li>
              <a href="https://www.uni-muenster.de/" target="_blank">
                <img src="{{ site.baseurl | append: "/images/sponsors/wwu.png" }}" alt="wwu Logo">
              </a>
            </li>
            <li>
              <a href="https://www.wissenschaftsjahr-zukunftsstadt.de/" target="_blank">
                <img src="{{ site.baseurl | append: "/images/sponsors/zukunftsstadt.png" }}" alt="zukunftsstadt Logo">
              </a>
            </li>
            <li>
              <a href="http://www.photonik-campus.de/make-light/" target="_blank">
                <img src="{{ site.baseurl | append: "/images/sponsors/make-light.png" }}" alt="make light Logo">
              </a>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </div>
