{% assign t = site.data.translations.[page.lang].main %}

    <div class="marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
          <div class="col-lg-4">
              <img src="{{ site.baseurl | append: "/images/flaticon/svg/brain.svg" }}" alt="Generic placeholder image" width="140" height="140">
              <h2>senseBox:home</h2>
              <p>{{ t.home_info }}</p>
              <p><a class="btn" href="{{ site.baseurl | append: "/" | append: page.lang | append: "/products" }}" role="button">{{ t.further-infos}} &raquo;</a></p>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
              <img src="{{ site.baseurl | append: "/images/flaticon/svg/desktop.svg" }}" alt="Generic placeholder image" width="140" height="140">
              <h2>senseBox:edu</h2>
              <p>{{ t.edu_info }}</p>
              <p><a class="btn" href="{{ site.baseurl | append: "/" | append: page.lang | append: "/products" }}" role="button">{{ t.further-infos}} &raquo;</a></p>
          </div>
          <!-- /.col-lg-4 -->
          <div class="col-lg-4">
              <img src="{{ site.baseurl | append: "/images/flaticon/svg/location.svg" }}" alt="Generic placeholder image" width="140" height="140">
              <h2>openSenseMap</h2>
              <p>{{ t.osem_info }}</p>
              <p><a class="btn" href="{{ site.baseurl | append: "/" | append: page.lang | append: "/osem" }}" role="button">{{ t.further-infos}} &raquo;</a></p>
          </div>
          <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->

      <hr />


        <h1 style="text-align: center;">Partner</h1>
        <div class="row">
          <div class="col-lg-12">
            <div class="row sponsor">
            <ul>
              <li>
                <a href="http://www.gi-at-school.de" target="_blank">
                  <img src="{{ site.baseurl | append: "/images/sponsors/giatschool.png" }}" alt="giatschool Logo">
                </a>
              </li>
              <li>
                <a href="https://ifgi.uni-muenster.de" target="_blank">
                  <img src="{{ site.baseurl | append: "/images/sponsors/ifgi.png" }}" alt="ifgi Logo">
                </a>
              </li>
              <li>
                <a href="https://www.uni-muenster.de/" target="_blank">
                  <img src="{{ site.baseurl | append: "/images/sponsors/wwu.png" }}" alt="wwu Logo">
                </a>
              </li>
              <li>
                <a href="https://www.wissenschaftsjahr-zukunftsstadt.de/" target="_blank">
                  <img src="{{ site.baseurl | append: "/images/sponsors/zukunftsstadt.png" }}" alt="zukunftsstadt Logo">
                </a>
              </li>
              <li>
                <a href="http://www.photonik-campus.de/make-light/" target="_blank">
                  <img src="{{ site.baseurl | append: "/images/sponsors/make-light.png" }}" alt="make light Logo">
                </a>
              </li>
            </ul>
            </div>
          </div>
        </div>
    </div>
