{% assign t = site.data.translations.[page.lang].materials %}
<div class="page-header">
  <h1>{{ t.header }}</h1>
</div>
<p>{{ t.about }}</p>
<h2>{{ t.logos }}</h2>
<h3><b>PNG</b></h3>
<div class="row footer-copyright">
  <div class="col-md-6">
    <img class="margin-20" style="max-height: 80px;" src="https://raw.githubusercontent.com/sensebox/resources/master/images/sensebox_logo_neu.png" alt="senseBox Logo neu"></img>
    <br />
    <a href="https://raw.githubusercontent.com/sensebox/resources/master/images/sensebox_logo_neu.png" target="_blank"><button class="btn">Download senseBox Logo</button></a>
  </div>
  <div class="col-md-6">
    <img class="margin-20" style="max-height: 80px;" src="https://raw.githubusercontent.com/sensebox/resources/master/images/sensebox_logo_raute.png" alt="senseBox Logo Raute"></img>
    <br />
    <a href="https://raw.githubusercontent.com/sensebox/resources/master/images/sensebox_logo_raute.png" target="_blank">
      <button class="btn">Download senseBox Raute</button>
    </a>
  </div>
</div>

<br>

<h3 style="margin-top: 50px;"><b>SVG</b></h3>
<div class="row footer-copyright">
  <div class="col-md-6">
    <img class="margin-20" style="height: 80px; max-height: 80px;" src='{{ site.baseurl | append: "/images/sensebox_wort_und_logo.svg" }}' alt="senseBox Wort und Logo"></img>
    <br />
    <a href='{{ site.baseurl | append: "/images/sensebox_wort_und_logo.svg" }}' target="_blank">
      <button class="btn">Download senseBox Logo</button>
    </a>
  </div>
  <div class="col-md-6">
    <img class="margin-20" style="max-height: 80px;" src='{{ site.baseurl | append: "/images/sensebox_logo.svg" }}' alt="senseBox Logo"></img>
    <br />
    <a href='{{ site.baseurl | append: "/images/sensebox_logo.svg" }}' target="_blank">
      <button class="btn">Download senseBox Raute</button>
    </a>
  </div>
</div>

<br />

<h2>Name</h2>
<p>{{ t.spellingNotice }}</p>
<div class="row" style="text-align: center;">
  <div class="col-md-4 col-sm-4">
    <p>
      <img src='{{ site.baseurl | append: "/images/success.svg" }}' alt="senseBox Logo" style="height:30px;">
      <span>senseBox</span>
    </p>
  </div>
  <div class="col-md-4 col-sm-4">
    <p>
      <img src='{{ site.baseurl | append: "/images/error.svg" }}' alt="senseBox Logo" style="height:30px;">
      <span>sensebox</span>
    </p>
  </div>
  <div class="col-md-4 col-sm-4">
    <p>
      <img src='{{ site.baseurl | append: "/images/error.svg" }}' alt="senseBox Logo" style="height:30px;">
      <span>Sense box</span>
    </p>
  </div>
</div>
<div class="row" style="text-align: center;">
  <div class="col-md-4 col-sm-4">
    <p>
      <img src='{{ site.baseurl | append: "/images/error.svg" }}' alt="senseBox Logo" style="height:30px;">
      <span>SenseBox</span>
    </p>
  </div>
  <div class="col-md-4 col-sm-4">
    <p>
      <img src='{{ site.baseurl | append: "/images/error.svg" }}' alt="senseBox Logo" style="height:30px;">
      <span>Sensebox</span>
    </p>
  </div>
  <div class="col-md-4 col-sm-4">
    <p>
      <img src='{{ site.baseurl | append: "/images/error.svg" }}' alt="senseBox Logo" style="height:30px;">
      <span>Sense Box</span>
    </p>
  </div>
</div>
<h2>{{ t.colors }}</h2>
<p>{{ t.color-values-header }}</p>
<ul>
  <li>
    HEX <code>#669933</code>
  </li>
  <li>
    RGB <code>rgb(98, 160, 68)</code>
  </li>
  <li>
    CMYK <code>cmyk(70%, 0%, 90%, 0%)</code>
  </li>
</ul>
<a href="/docs/farbkonzept.pdf" target="_blank">
  <button class="btn">Download senseBox Farbschema</button>
</a>
<h2>{{ t.flyer }}</h2>
<a href="/docs/flyer/senseBox_Flyer_de.pdf" target="_blank" class="hvr-underline-from-left"><h4>senseBox Flyer (Deutsch)</h4></a>
<br>
<a href="/docs/flyer/senseBox_flyer_en.pdf" target="_blank" class="hvr-underline-from-left"><h4>senseBox Flyer (Englisch)</h4></a>
