{% assign t = site.data.translations.[page.lang].material_page %}

<div class="page-header">
  <h1>senseBox Material</h1>
</div>



<h2 class="smallcaps" id="Material">Docs</h2>

<p> {{ t.description_docs }}</p>
<div class="container">
  {% assign material = site.data.translations.[page.lang].material_docs | sort: 'position' %}

  <!-- count Material -> if odd, there has to be a blank col in the end -->
  <div hidden>
    {% for material in material %}
    {% increment material_count %}
    {% capture oddOrEvenMaterialCount %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% endfor %}
  </div>
  <div class="row">
    {% for material in material %}
    {% capture firstLastInRow %}{% cycle 'first', 'last' %}{% endcapture %}
    <div class="col-lg-3 col-sm-6">
      <div class="card" style="cursor: pointer;">
        <canvas class="header-bg" width="250" id="header-blur"
          style="background-image: url({{ material.bgImage }});"></canvas>
        <div class="content">
          <h4 style="clear:both">{{ material.name }}</h4>
          <div id="desc_{{ material.position }}">
            <a class="stretched-link" href="{{ material.link_mcu }}"></a>
          </div>
        </div>
      </div>
    </div>
    <!--{% if firstLastInRow == 'last' %}
    </div>
  {% endif %}-->

    <!-- if this is the last element and the count is even, add blank col -->
    {% if material.position == material and oddOrMaterialCount == 'odd' %}
    <div class="col-md-6">
    </div>
  </div>
  {% endif %}



  {% endfor %}
</div>

<h2 class="smallcaps" id="Material">{{ t.description_teaching_short }}</h2>
<p> {{ t.description_teaching }}</p>

{% assign teaching = site.data.translations.[page.lang].teaching_content | sort: 'position' %}

<!-- count Material -> if odd, there has to be a blank col in the end -->
<div hidden>
  {% for teaching in teaching %}
  {% increment teaching_count %}
  {% capture oddOrEventeachingCount %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% endfor %}
</div>
<div class="row">
  {% for teaching in teaching %}
  {% capture firstLastInRow %}{% cycle 'first', 'last' %}{% endcapture %}
  <div class="col-md-4">

    <div class="card" style="cursor: pointer;">
      <canvas class="header-bg" width="250" id="header-blur"
        style="background-image: url({{ teaching.bgImage }});"></canvas>
      <div class="content">
        <h4 style="clear:both">{{ teaching.name }}</h4>
        <div id="desc_{{ teaching.position }}">
          {% if teaching.download %}
          <a class="stretched-link" href="{{ teaching.download }}"></a>
          {% endif %}
          {% if teaching.link %}
          <a class="stretched-link" href="{{teaching.link }}"></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- if this is the last element and the count is even, add blank col -->
  {% if teaching.position == teaching and oddOrteachingCount == 'odd' %}
  <div class="col-md-6">
  </div>
</div>
{% endif %}



{% endfor %}

</div>

<h2 class="smallcaps" id="Material">{{ t.description_more_short }}</h2>
<p><b>{{ t.description_more_deprecated }}</b></p>
<p>{{ t.description_more }}</p>

{% assign more = site.data.translations.[page.lang].material_more | sort: 'position' %}

<!-- count Material -> if odd, there has to be a blank col in the end -->
<div hidden>
  {% for more in more %}
  {% increment more_count %}
  {% capture oddOrEvenmoreCount %}{% cycle 'odd', 'even' %}{% endcapture %}
  {% endfor %}
</div>
<div class="row">
  {% for more in more %}
  {% capture firstLastInRow %}{% cycle 'first', 'last' %}{% endcapture %}
  <div class="col-md-3">

    <div class="card" style="cursor: pointer;">
      <canvas class="header-bg" width="250" id="header-blur"
        style="background-image: url({{ more.bgImage }});"></canvas>
      <div class="content">
        <h4 style="clear:both">{{ more.name }}</h4>
        <div id="desc_{{ more.position }}">
          {% if more.link %}
          <a class="stretched-link" href="{{more.link }}"></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- if this is the last element and the count is even, add blank col -->
  {% if more.position == more and oddOrmoreCount == 'odd' %}
  <div class="col-md-6">
  </div>
</div>
{% endif %}



{% endfor %}


</div>

<h2 class="smallcaps" id="Material">Books</h2>

<p> {{ t.description_book }}</p>
<div class="container">
  {% assign material = site.data.translations.[page.lang].material_content | sort: 'position' %}

  <!-- count Material -> if odd, there has to be a blank col in the end -->
  <div hidden>
    {% for material in material %}
    {% increment material_count %}
    {% capture oddOrEvenMaterialCount %}{% cycle 'odd', 'even' %}{% endcapture %}
    {% endfor %}
  </div>
  <div class="row">
    {% for material in material %}
    {% capture firstLastInRow %}{% cycle 'first', 'last' %}{% endcapture %}
    <div class="col-lg-3 col-sm-6">
      <div class="card" style="cursor: pointer;">
        <canvas class="header-bg" width="250" id="header-blur"
          style="background-image: url({{ material.bgImage }});"></canvas>
        <div class="content">
          <h4 style="clear:both">{{ material.name }}</h4>
          <div id="desc_{{ material.position }}">
            <a class="stretched-link" href="{{ material.link_mcu }}"></a>
          </div>
        </div>
      </div>
    </div>
    <!--{% if firstLastInRow == 'last' %}
    </div>
  {% endif %}-->

    <!-- if this is the last element and the count is even, add blank col -->
    {% if material.position == material and oddOrMaterialCount == 'odd' %}
    <div class="col-md-6">
    </div>
  </div>
  {% endif %}



  {% endfor %}
</div>

{{ t.description_header }}
</div>