{% assign t = site.data.translations.[page.lang].privacy %}
<h1>{{t.header}}</h1>
<h2>{{t.privacy.header}}</h2>
<h3>{{t.privacy.general.header}}</h3>
<p>{{t.privacy.general.content}}</p>
<h3>{{t.privacy.collection.header}}</h3>
<p>
  <strong>{{t.privacy.collection.section1.header}}</strong>
</p>
<p>{{t.privacy.collection.section1.content}}</p>
<p>
  <strong>{{t.privacy.collection.section2.header}}</strong>
</p>
<p>{{t.privacy.collection.section2.content1}}</p>
<p>{{t.privacy.collection.section2.content2}}</p>
<p>
  <strong>{{t.privacy.collection.section3.header}}</strong>
</p>
<p>{{t.privacy.collection.section3.content}}</p>
<p>
  <strong>{{t.privacy.collection.section4.header}}</strong>
</p>
<p>{{t.privacy.collection.section4.content}}</p>

<h3>{{t.privacy.analysis.header}}</h3>
<p>{{t.privacy.analysis.content}}</p>

<h2>{{t.general.header}}</h2>
<h3>{{t.general.privacy.header}}</h3>
<p>{{t.general.privacy.content1}}</p>
<p>{{t.general.privacy.content2}}</p>
<p>{{t.general.privacy.content3}}</p>
<h3>{{t.general.contanct.header}}</h3>
<p>{{t.general.contact.content1}}</p>
<p>
  {{t.general.contact.address}}
</p>
<p>{{t.general.contact.content2}}</p>
<h3>{{t.general.recall.header}}</h3>
<p>{{t.general.recall.content}}</p>
<h3>{{t.general.complaint.header}}</h3>
<p>{{t.general.complaint.content}}</p>
<h3>{{t.general.transfer.header}}</h3>
<p>{{t.general.transfer.content}}</p>
<h3>{{t.general.ssl.header}}</h3>
<p>{{t.general.ssl.content}}</p>
<h3>{{t.general.feedback.header}}</h3>
<p>{{t.general.feedback.content}}</p>
<h3>{{t.general.mails.header}}</h3>
<p>{{t.general.mails.content}}</p>

<h2>{{t.privacyofficer.header}}</h2>
<h3>{{t.privacyofficer.details.header}}</h3>
<p>{{t.privacyofficer.details.content}}</p>
<p>
  {{t.privacyofficer.details.address}}
</p>

<h2>{{t.collection.header}}</h2>
<h3>{{t.collection.cookies.header}}</h3>
<p>{{t.collection.cookies.content1}}</p>
<p>{{t.collection.cookies.content2}}</p>
<p>{{t.collection.cookies.content3}}</p>
<p>{{t.collection.cookies.content4}}</p>
<h3>{{t.logs.header}}</h3>
<p>{{t.logs.content1}}</p>
<ul>
  {{t.logs.list}}
</ul>
<p>{{t.logs.content2}}</p>
<p>{{t.logs.content3}}</p>
<h3>{{t.contact.header}}</h3>
<p>{{t.contact.content1}}</p>
<p>{{t.contact.content2}}</p>
<p>{{t.contact.content3}}</p>
<h3>{{t.register.header}}</h3>
<p>{{t.register.content1}}</p>
<p>{{t.register.content2}}</p>
<p>{{t.register.content3}}</p> 
<p>{{t.register.content4}}</p>
<h3>{{t.comment.header}}</h3>
<p>{{t.comment.content1}}</p>
<p><strong>{{t.comment.save.header}}</strong></p>
<p>{{t.comment.save.content}}</p>
<p><strong>{{t.comment.abo.header}}</strong></p>
<p>{{t.comment.abo.content}}</p>
<p><strong>{{t.comment.time.header}}</strong></p>
<p>{{t.comment.time.content}}</p>
<p><strong>{{t.comment.legal.header}}</strong></p>
<p>{{t.comment.legal.content}}</p>
<h3>{{t.processing.header}}</h3>
<p>{{t.processing.content1}}</p>
<p>{{t.processing.content2}}</p>

<h2>{{t.analysis.header}}</h2>
<h3>{{t.analysis.matomo.header}}</h3>
<p>{{t.analysis.matomo.content1}}</p>
<p>{{t.analysis.matomo.content2}}</p>
<p>{{t.analysis.matomo.content3}}</p>
<p>{{t.analysis.matomo.content4}}</p>
<p>{{t.analysis.matomo.content5}}</p>
<p>
  {{t.analysis.matomo.content6}}
</p>
<h2>{{t.newsletter.header}}</h2>
<h3>{{t.newsletter.data.header}}</h3>
<p>{{t.newsletter.data.content1}}</p>
<p>{{t.newsletter.data.content2}}</p>
<p>{{t.newsletter.data.content3}}</p>
<h3>{{t.newsletter.mailchimp.header}}</h3>
<p>{{t.newletter.mailchimp.content1}}</p>
<p>{{t.newsletter.mailchimp.content2}}</p>
<p>{{t.newsletter.mailchimp.content3}}</p>
<p>{{t.newsletter.mailchimp.content4}}</p>
<p>{{t.newsletter.mailchimp.content5}}</p>
<p>{{t.newsletter.mailchimp.content6}}</p>
<p>{{t.newsletter.mailchimp.content7}}</p>
<p>{{t.newsletter.mailchimp.content8}}</p>
<p><strong>{{t.newsletter.mailchimp.agreement.header}}</strong></p>
<p>{{t.newsletter.mailchimp.agreement.content1}}</p>
<h2>{{t.plugins.header}}</h2>
<h3>{{t.plugins.youtube.header}}</h3>
<p>{{t.plugins.youtube.content1}}</p>
<p>{{t.plugins.youtube.content2}}</p>
<p>{{t.plugins.youtube.content3}}</p>
<p>{{t.plugins.youtube.content4}}</p>
<p>{{t.plugins.youtube.content5}}</p>
<h2>{{t.partner.header}}</h2>
<h3>{{t.partner.amazon.header}}</h3>
<p>{{t.partner.amazon.content1}}</p>
<p>{{t.partner.amazon.content2}}</p>
<p>{{t.partner.amazon.content3}}</p>