{% assign carouselpages = "main|products|osem|books|background|press|awards|lab|blog" | split: "|" %} 
{% assign navpages = "blog|products|osem|books|background|lab" | split: "|" %}
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if page.lang == 'en' %}
                    <a class="navbar-brand" href="{{ site.url }}/en">
                        {% else %}
                        <a class="navbar-brand" href="{{ site.url }}">
                            {% endif %}
                            <img class="logo" style="max-height:100%;" src="{{ site.baseurl | append: " /images/sensebox_logo.svg "}}"/>
                        </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% assign t = site.data.translations.[page.lang].header %} {% assign menupages = site.pages | sort:"weight" %} {% for menupage
                        in menupages %} {% if menupage.lang == page.lang and navpages contains menupage.id %}
                        <li class="navbar-item{% if page.url == menupage.url %} active{% endif %}">
                            <a href="{{ menupage.url | prepend: site.baseurl }}">{{ t.[menupage.id] }}</a>
                        </li>
                        {% endif %} {% endfor %}

                    </ul>
                    {% if page.translationAvailable != false %}
                    <ul class="nav navbar-nav pull-right">
                        <li class="navbar-item">
                            {% if page.lang == 'de' %}
                            <a href="{{ page.url | remove:'de/' | remove:'index.html' | prepend:'/en' | prepend: site.url }}">EN</a>
                            {% else %} {% if page.id == 'main' %}
                            <a href="{{ page.url | remove:'en/' | remove:'index.html'| prepend: site.url }}">DE</a>
                            {% else %}
                            <a href="{{ page.url | remove:'en/' | remove:'index.html' | prepend:'/de' | prepend: site.url }}">DE</a>
                            {% endif %} {% endif %}
                        </li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
</div>

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    {% if page.needsCarouselControl == true %}
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    {% endif %}

    <div class="carousel-inner" role="listbox">
        {% if carouselpages contains page.id %} {% include _carousel_content/{{ page.id }}_carousel.html %} {% else %} {% include
        _carousel_content/default_carousel.html %} {% endif %}
    </div>

    {% if page.needsCarouselControl == true %}
    <a class="left carousel-control">
        <span class="glyphicon glyphicon-chevron-left" href="#myCarousel" aria-hidden="true" role="button" data-slide="prev"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control">
        <span class="glyphicon glyphicon-chevron-right" href="#myCarousel" aria-hidden="true" role="button" data-slide="next"></span>
        <span class="sr-only">Next</span>
    </a>
    {% endif %}
</div>
<!-- /.carousel -->