<div class="col-sm-4 col-md-4 col-lg-4 event-item">
  <div class="thumbnail">
    <div class="caption">
      <p>{{ include.event.starting-date | date: '%d.%m.%Y' }}</p>
		{% if include.event.link %}
			<h3>{{ include.event.title }} <small><a href="{{ include.event.link }}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></small></h3>
		{% else %}
			<h3>{{ include.event.title }}</h3>
		{% endif %}
      <p>{{ include.event.place }}</p>
    {% if include.event.blog %}
      <a class="social-media" href="{{include.event.blog }}" target="_blank" role="button" ><img src="{{ site.baseurl | append: '/images/iconmonstr-link-1.svg'}}" alt="homepage icon"></a>
    {% endif %}
    </div>
  </div>
</div>