<!--<div class="col-sm-3 col-md-3 col-lg-3 event-item">
  <div class="thumbnail">
    <div class="caption">
      <p>{{ include.event.starting-date | date: '%d.%m.%Y' }} {% if include.event.starting-date != include.event.ending-date %} - {{ include.event.ending-date | date: '%d.%m.%Y' }} {% endif %} </p>
      {% if include.event.time %}
      <p>{{ include.event.time }}</p>
      {% endif %}
		{% if include.event.link %}
			<h3>{{ include.event.title }} <small><a href="{{ include.event.link }}" target="_blank"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></a></small></h3>
		{% else %}
			<h3>{{ include.event.title }}</h3>
    {% endif %}
    {% if include.event.description %}
      <em>{{ include.event.description }}</em><br></br>
      {% endif %}
      <p>{{ include.event.place }}</p>
    {% if include.event.blog %}
      <a class="social-media" href="{{include.event.blog }}" target="_blank" role="button" ><img src="{{ site.baseurl | append: '/images/iconmonstr-newspaper-13.svg'}}" alt="homepage icon"></a>
    {% endif %}
    </div>
  </div>
</div>-->
<div class ="container">
<div class="panel-group events" id="accordion">
<div class="panel panel-default">
    <div class="panel-heading">
            <a class="noCrossRef accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse_event{{ forloop.index }}">{{ include.event.starting-date | date: '%d.%m.%Y' }} {% if include.event.starting-date != include.event.ending-date %} - {{ include.event.ending-date | date: '%d.%m.%Y' }} {% endif %} {% if include.event.time %}
              {{ include.event.time }}
              {% endif %} | <strong>{{ include.event.title }} </strong>| {{ include.event.place }}</a>
    </div>
    <div id="collapse_event{{ forloop.index }}" class="panel-collapse collapse noCrossRef">
        <div class="panel-body">
          {% if include.event.description %}
          <div class="events-description">{{ include.event.description }}</div><br></br>
          {% endif %}
        </div>
        {% if include.event.link %}
        <div class="panel-footer">
          <a href="{{ include.event.link }}" target="_blank">weitere Informationen</a>
    </div>
    {% endif %}
</div>
</div>
</div>
</div>

