<!-- FOOTER -->
{% assign t = site.data.translations.[page.lang].footer %}

  <div class="footer">
    <hr>
    <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <a href="/index.html">
            <img src="{{ site.baseurl | append: '/images/sensebox_wort_und_logo.svg'}}" style="max-width:100%; max-height:100%" />
        </a>
      </div>
      <div class="col-sm-2">
        <div class="footer-header">
          {{ t.background.header }}
        </div>
        <div class="footer-content">
          <ul>
            <li><a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/background'}}">{{ t.background.aboutus }}</a></li>
            <li><a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/background#philosophie'}}">{{ t.background.philosophy }}</a></li>
            <li><a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/background#team'}}">{{ t.background.team }}</a></li>
            <li><a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/awards' }}">{{ t.background.awards }}</li>
            <li><a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/contact'}}">{{ t.background.contact }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="footer-header">
          {{ t.press.header }}
        </div>
        <div class="footer-content">
          <ul>
            <li><a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/press'}}">{{ t.press.articles }}</a></li>
            <li><a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/materials'}}">{{ t.press.material }}</li>
            <li><a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/contact'}}">{{ t.press.contact }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="footer-header">
          {{ t.publications.header }}
        </div>
        <div class="footer-content">
          <ul>
            <li><a href="{{ site.baseurl | append: '/' | append: page.lang | append: '/books'}}">{{ t.publications.books }}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-2">
        <div class="footer-header">
          Follow us
        </div>
        <div class="footer-content">
          <ul>
            <li><a href="https://twitter.com/sensebox_de" target="_blank"><img src="{{ site.baseurl | append: '/images/iconmonstr-twitter-4-icon.png'}}" alt="Twitter icon"> Twitter</a></li>
            <li><a href="https://www.facebook.com/sensebox.de" target="_blank"><img src="{{ site.baseurl | append: '/images/iconmonstr-facebook-4-icon.png'}}" alt="Facebook icon"> Facebook</a></li>
            <li><a href="https://github.com/sensebox" target="_blank"><img src="{{ site.baseurl | append: '/images/iconmonstr-github-icon.png'}}" alt="GitHub icon"> Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
  <div class="footer-copyright">
    &copy; senseBox, Institut für Geoinformatik, Universität Münster &middot; <a href="http://www.uni-muenster.de/Geoinformatics/en/contact/legalnotice.html" target="_blank">Contact</a></p>
  </div>
