
$home: #b3a900;
$edu: #2eb6eb;
$mini: #9135aa;


.title {
    display: inline-block;
    position: relative;
    &:after {
        content: ' ';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 130%;
        border-bottom: 3px solid #4EAF47;
    }
    margin-bottom: 20px;
}
h3 {
    color: #111;
    padding-bottom: 1.5em;
}

.go-edu {
    color: $edu;
}

.go-home {
    color: $home;
}

.go-mini {
    color: $mini;
}


.go-nav-item {
    padding: 1em;

    a {
        text-decoration: none;
        color: #111;
    }
    
    .go-nav-inner {
        width: 100%;
        overflow: hidden;
        max-width: 550px;
        box-shadow: 0px 0px 2px 2px #ccc;
        cursor: pointer;

        &.home-inner {
            .text-container {
                border-left: 2px solid $home;
            }
            h2 {
                color: $home;
            }
        }

        &.edu-inner {
            .text-container {
                border-left: 2px solid $edu;
            }            
            h2 {
                color: $edu;
            }
        }

        &.mini-inner {
            .text-container {
                border-left: 2px solid $mini;
            }            
            h2 {
                color: $mini;
            }
        }

    }

    .img-container {
        width: 100%;
        
    }
    img {
        width: 100%;
        transition: transform 0.2s ease-out;
    }

    .text-container {
        padding: 0.5em;

        .desc-text {
            height: 70px;
        }
    }

    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}


.ut-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-items: center;
    .ut-item {
        margin: 2em 0.5em;
        width: 350px;
        padding: 0.5em;
        // border: 1px solid #eee;
        box-shadow: 0px 0px 2px 2px #ccc;
    }
}


ul, ol {
    font-size: 19px;
    padding-left: 24px;
}

ol {
    li {
        padding-left: 0.2em;
    }
}


.edu-go-page {
    overflow: hidden;

    .topic-block {
        padding-bottom: 40px;
    }
    .content-container {
    }
    ol {
        margin: auto;
        max-width: 800px;
        padding-top: 40px;
        li {
            padding: 1em 0 1em 34px;
            .image {
                // height: 400px;
                position: relative;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            textarea {
                margin-top: 0.5em;
                padding: 1em;
                overflow: hidden;
                font-size: 15px;
            }
        }
    }


    ol {
        list-style: none;
        counter-reset: item;
        padding-left: 9px;
      }
      li {
        counter-increment: item;
        margin-bottom: 5px;
        padding-left: 34px;
        position: relative;
      }
      li:before {
        margin-right: 10px;
        content: counter(item)'.';
        border-radius: 100%;
        font-size: 35px;
        font-weight: bold;
        width: 1.2em;
        text-align: center;
        display: inline-block;
        position: absolute;
        left: -14px;
        top: 8px;
        color: #4EAF47;
      }

      .exp-link {
          font-size: 18px;
      }
}