.BrixSlab-Bold {
  font-family: BrixSlab-Bold;
  font-weight: normal;
  font-style: normal;
}

.BrixSlab-Regular {
  font-family: BrixSlab-Regular;
  font-weight: normal;
  font-style: normal;
}

/**
 * Basic styling
 */
body {
    font-family: BrixSlab-Regular, Helvetica, sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

.fixx {
  position: fixed;
}

p {
  font-size: $base-font-size;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $sensebox-green;
}

.sponsor {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    list-style: none;

    li {
      /*display: table-cell;*/
    }
  }
  text-align: center;
  img {
    width: 270px;
    height: 119px;
    transition: box-shadow 0.1s;
    border-radius: 5px;
    &:hover {
      box-shadow: 0px 0px 15px lighten($sensebox-green, 40%);
    }
  }
}

hr {
  border-top: 3px solid #eeeeee;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default {
  border-style: none;
  background-color: #FFFFFF;
  margin-bottom: 25px;
}

.navbar-brand {
  margin-left: 15px;
  padding: 5px 0px;
  width: auto;
}

.navbar-default .navbar-toggle {
  border-style: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $sensebox-green;
}

.navbar-collapse {
  padding-left: 0;
}

.navbar-control {
  padding-left: 0;
  padding-bottom: 5px;
  background-color: $sensebox-green;
  border-bottom-left-radius: 5px;
}

.navbar-default {
  .navbar-nav {
    > li {

      > a {
        transition: color 0.1s;
        color: lighten($sensebox-green, 40%);
        font-size: 22px;
        font-family: BrixSlab-Bold;
        background-color: transparent;
      }

      > a:hover,
      > a:focus {
        color: lighten($sensebox-green, 50%);
      }

      &.active {
        > a,
        > a:hover,
        > a:focus {
          color: white;
          background-color: transparent;
        }
      }

      /* navbar item dividers */
      &:after {
        content: ':';
        font-size: 22px;
        text-decoration: none;
        color: lighten($sensebox-green, 40%);
        position: absolute;
        right: -2px;
        top: 9px;
        user-select: none;
        cursor: default;
      }
      &:last-of-type:after {
        content: '';
      }

    }
  }
}

.row {
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.separator {
  font-weight: bold;
}

.footer {
  color: $sensebox-green;
  font-size: $small-font-size;

  .copyright {
    text-align: center;
    font-size: $small-font-size*0.85;
    color: $grey-color;
  }
}

.footer-header {
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.footer-content {
  text-align: left;
  font-family: BrixSlab-Regular;
  > ul {
    padding-left: 0;
    list-style-type: none;

    > li {
      margin-bottom: 5px;
    }
  }

  a {
    color: $sensebox-green;
  }
}


.content {
  padding-left: 15px;
  padding-right: 15px;
}

.sidebar {
  padding-left: 0;
}

.posts {
  padding-left: 0;
  padding-bottom: 80px;

  > h1 {
    > a{
      color: $sensebox-green;
    }
  }

  > .content {
    color: #828282;
    padding-left: 0px;
  }
}

.readmore {
  a {
    color: $sensebox-green;

    &:hover {
      color: $sensebox-green;
      text-decoration: underline;
    }
  }
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding-left: 0;

  > li {
      margin-bottom: $spacing-unit;

      > h2 {

        > a:hover {
          color: $sensebox-green;
          text-decoration: underline;
        }
      }
  }
}

.post-link {
  display: block;
  font-size: 24px;
  color: $sensebox-green;
}

.link {
  color: $sensebox-green;
}

.link:hover{
  color: $sensebox-green;
  text-decoration: underline;
  background-color: transparent;
}

.panel {
  border: 0px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h3.panel-title {
  a {
    color: $sensebox-green;
    font-size: 24px;
    
    &:before {
      position: absolute;
      left: -8px;
      background-image: url('../images/raute-gruen.png');
      background-repeat: no-repeat;
      width: 34px;
      height: 34px;
      content: '×';
      color: white;
      user-select: none;
      text-decoration: none;
      text-align: center;
      font-size: 28px;
    }

    &.collapsed:before {
      content: '+'
    }
  }

}

.panel-default {
  border-color: transparent;

  > .panel-heading {
    background-color: transparent;
  }
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 0px solid transparent;
}


@media (min-width: $screen-sm-min) {
  .navbar-logo {
    padding-top: 15px;
  }

  .navbar-control {
    padding-top: 15px;
  }

  .navbar-default {
    padding-top: 0px;
  }

  .info-panel {
    padding-top: 125px;

    .panel-group .panel + .panel {
      margin-top: 50px;
    }
  }
}


.sensebox-presentation {
  .panel-body {
    padding:0;
    padding-left:15px;
    ul {
      list-style: none;
      font-size: $small-font-size;
      color: $grey-color;
      padding-left: 0;
    }
  }
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $sensebox-green;
  border-color: $sensebox-green;
}

.pagination > li > a, .pagination > li > span {
    color: $sensebox-green;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: $sensebox-green;
    background-color: #eeeeee;
    border-color: #ddd;
}

.carousel-control {
  color: $sensebox-green;
}

.carousel-indicators {

  > li {
    border: 1px solid $sensebox-green;
  }

  > .active {
    background-color: $sensebox-green;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: $sensebox-green;
}

.nav > li > a {
  color: $sensebox-green;
}

.table-hover > tbody > tr:hover {
  background-color: $sensebox-green;
  color: #fff;
}

.smallcaps {
  font-variant: small-caps;
}

em {
  color: darken($sensebox-green, 10%);
  font-weight: bold;
  font-style: normal;
}

.team-pic,
.press-pic {
  float: left;
  margin: 2px;
  margin-right: 15px;
}

.press-text {
  overflow: hidden;
}
.team-text
  overflow: hidden;
  min-height: 240px;
}

.responsive-img {
  max-width: 100%;
}

.product-name {
  background-color: $sensebox-green;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  h3 {
    color: white;
    margin: 0;
  }
}

.date,
.author {
  color: #888;
}

.clear {
  clear: both;
}

.nomargin {
  margin-bottom: 2px;
}