.BrixSlab-Bold {
  font-family: BrixSlab-Bold;
  font-weight: normal;
  font-style: normal;
}

.BrixSlab-Regular {
  font-family: BrixSlab-Regular;
  font-weight: normal;
  font-style: normal;
}

/**
 * Basic styling
 */
body {
    font-family: BrixSlab-Regular, Helvetica, sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

.fixx {
  position: fixed;
}

.news {
	margin-left: 0px;
	font-size: 14px;
}

p {
  font-size: $base-font-size;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $sensebox-green;
}

.sponsor {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    list-style: none;

    li {
      /*display: table-cell;*/
    }
  }
  text-align: center;
  img {
    padding: 5px;
    max-width: 270px;
    max-height: 119px;
    transition: box-shadow 0.1s;
    border-radius: 5px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    &:hover {
      box-shadow: 0px 0px 15px lighten($sensebox-green, 40%);
      -webkit-filter: none; /* Chrome, Safari, Opera */
      filter: none;
    }
  }
}

hr {
  border-top: 3px solid #eeeeee;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default {
  border-style: none;
  background-color: #FFFFFF;
  margin-bottom: 25px;
}

.navbar-brand {
  margin-left: 15px;
  padding: 5px 0px;
  width: auto;
}

.navbar-default .navbar-toggle {
  border-style: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $sensebox-green;
}

.navbar-collapse {
  padding-left: 0;
  text-align: center;
  border-top: 0px;
}

.navbar-control {
  padding-left: 0;
  background-color: $sensebox-green;
  @media (min-width: $grid-float-breakpoint) {
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
  }
}

.navbar-default {
  .navbar-nav {
    > li {
      @media (max-width: $grid-float-breakpoint) {
        padding-left: 10px;
      }
      > a {
        transition: color 0.1s;
        color: lighten($sensebox-green, 40%);
        font-size: 22px;
        font-family: BrixSlab-Bold;
        background-color: transparent;
      }

      > a:hover,
      > a:focus {
        color: lighten($sensebox-green, 50%);
      }

      &.active {
        > a,
        > a:hover,
        > a:focus {
          color: white;
          background-color: transparent;
        }
      }

      // navbar item dividers
      @media (min-width: $grid-float-breakpoint) {
        &:after {
          content: ':';
          font-size: 22px;
          text-decoration: none;
          color: lighten($sensebox-green, 40%);
          position: absolute;
          right: -2px;
          top: 9px;
          user-select: none;
          cursor: default;
        }
        &:last-of-type:after {
          content: '';
        }
      }
    }
  }
}

.row {
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.separator {
  font-weight: bold;
}

.footer {
  color: $sensebox-green;
  font-size: $small-font-size;

  .copyright {
    text-align: center;
    font-size: $small-font-size*0.85;
    color: $grey-color;
  }
}

.footer-header {
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.footer-content {
  text-align: left;
  font-family: BrixSlab-Regular;
  > ul {
    padding-left: 0;
    list-style-type: none;

    > li {
      margin-bottom: 5px;
    }
  }

  a {
    color: $sensebox-green;
  }
}


.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.sidebar {
  padding-left: 0;
}

.posts {
  padding-left: 0;
  padding-bottom: 80px;

  > h1 {
    > a{
      color: $sensebox-green;
    }
  }

  > .content {
    color: #828282;
    padding-left: 0px;
  }
}

.readmore {
  a {
    color: $sensebox-green;

    &:hover {
      color: $sensebox-green;
      text-decoration: underline;
    }
  }
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding-left: 0;

  > li {
      margin-bottom: $spacing-unit;

      > h2 {

        > a:hover {
          color: $sensebox-green;
          text-decoration: underline;
        }
      }
  }
}

.post-link {
  display: block;
  font-size: 24px;
  color: $sensebox-green;
}

.link {
  color: $sensebox-green;
}

.link:hover{
  color: $sensebox-green;
  text-decoration: underline;
  background-color: transparent;
}

.panel {
  border: 0px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h3.panel-title {
  a {
    color: $sensebox-green;
    font-size: 24px;

    &:before {
      position: absolute;
      left: -8px;
      background-image: url('../images/raute-gruen.png');
      background-repeat: no-repeat;
      width: 34px;
      height: 34px;
      content: '×';
      color: white;
      user-select: none;
      text-decoration: none;
      text-align: center;
      font-size: 28px;
      vertical-align: middle;
      line-height: 34px;
    }

    &.collapsed:before {
      content: '+'
    }
  }

}

.panel-default {
  border-color: transparent;

  > .panel-heading {
    background-color: transparent;
  }
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 0px solid transparent;
}


@media (min-width: $screen-sm-min) {
  .navbar-logo {
    padding-top: 15px;
  }

  .navbar-control {
    padding-top: 15px;
  }

  .navbar-default {
    padding-top: 0px;
  }

  .info-panel {
    padding-top: 50px;

    .panel-group .panel + .panel {
      margin-top: 50px;
    }
  }

  .news {
  	margin-left: -160px;
		font-size: 16px;
	}
}


.sensebox-presentation {
  .panel-body {
    padding:0;
    padding-left:15px;
    ul {
      list-style: none;
      font-size: $small-font-size;
      color: $grey-color;
      padding-left: 0;
    }
  }
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $sensebox-green;
  border-color: $sensebox-green;
}

.pagination > li > a, .pagination > li > span {
    color: $sensebox-green;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: $sensebox-green;
    background-color: #eeeeee;
    border-color: #ddd;
}

.carousel-control {
  color: $sensebox-green;
}

.carousel-indicators {

  > li {
    border: 1px solid $sensebox-green;
  }

  > .active {
    background-color: $sensebox-green;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: $sensebox-green;
}

.nav > li > a {
  color: $sensebox-green;
}

.table-hover > tbody > tr:hover {
  background-color: $sensebox-green;
  color: #fff;

  a {
    color: #fff;
  }
}

.smallcaps {
  font-variant: small-caps;
}

em {
  color: darken($sensebox-green, 10%);
  font-weight: bold;
  font-style: normal;
}

.team-pic,
.press-pic,
.award-pic {
  //float: left;
  margin: 2px;
  margin-right: 15px;
  max-width: 100%;
}

@media (max-width: 767px) {
  .team-pic,
  .press-pic,
  .award-pic {
    //float: left;
    margin: 2px;
    margin-right: 15px;
    max-width: 50%;
  }
}

.press-text {
  overflow: hidden;
}
.team-text {
  overflow: hidden;
  min-height: 240px;
}

.responsive-img {
  max-width: 100%;
}

.product-name {
  background-color: $sensebox-green;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  h3 {
    color: white;
    margin: 0;
  }
}

.date,
.author {
  color: #888;
}

.clear {
  clear: both;
}

.nomargin {
  margin-bottom: 2px;
}

.docs-photo-gallery {
  display: flex;
  flex-wrap: wrap;
}

.docs-photo-container {
  width: 320px;
  height: 240px;
  border: 1px solid #ccc;
  padding: 1px;
  margin: 2px;
  overflow: hidden;
  text-align: center;
}

.docs-photo-img {
  width: auto;
  max-height: 100%;
  //height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
article.post-content img {
  max-width: 33%;
  max-height: 250px;
}
*/
@media (max-width: $screen-md-min) {

  .docs-photo-img {
  }

  article.post-content img {
  }

}

.card {
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #fefefe;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 120px;
  z-index: 100;
}

.card .avatar img {
  width: 125px;
  height: 125px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.card .social-media img{
  padding: 10px;
}

.card .toggle-info {
  padding: 5px;
}

.card .price-header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}

.price-text {
  position: relative;
  margin-top: 120px;
  z-index: 100;
  background-color: #ffffff;
}

.price-text h3 {
  margin: 0px;
  padding: 5px;
  color: #141414;
}

.card .overlay {
  display: none;
}

.card:hover .overlay {
  display: inline;
  position:absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding-top: 8px;
  padding-bottom: 8px;
  background: rgba(255,255,255,0.7);
}

ul li {
  font-size: 1.2em;
}

.opacity-animation-fast {
  position: relative;
  -webkit-animation: show 0.33s ease-in-out; /* Safari 4+ */
  -moz-animation:    show 0.33s ease-in-out; /* Fx 5+ */
  -o-animation:      show 0.33s ease-in-out; /* Opera 0.42+ */
  animation:         show 0.33s ease-in-out;
}

.opacity-animation {
  position: relative;
  -webkit-animation: show 1s ease-in-out; /* Safari 4+ */
  -moz-animation:    show 1s ease-in-out; /* Fx 5+ */
  -o-animation:      show 1s ease-in-out; /* Opera 12+ */
  animation:         show 1s ease-in-out;
}

@-webkit-keyframes show {
  0%   { opacity: 0; top:-20px }
  100% { opacity: 1; top:0px }
}
@-moz-keyframes show {
  0%   { opacity: 0; top:-20px }
  100% { opacity: 1; top:0px }
}
@-o-keyframes show {
  0%   { opacity: 0; top:-20px }
  100% { opacity: 1; top:0px }
}
@keyframes show {
  0%   { opacity: 0; top:-20px }
  100% { opacity: 1; top:0px }
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin: 5px;
  background: #f6f6f6;
  border-radius: 2px;
  text-decoration: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
}
.hvr-underline-from-left:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $sensebox-green;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
#instructions, #flyer {
  text-align:center;
  padding:30px;
}
.event .icon {
  margin-right: 5px;
}
.event {
  margin-top: 2px;
  font-size: 1.2em;
}
.event .date {
  color: #111;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper>.container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-toggle .collapsed {
    z-index: 99;
}

.icon-bar {
    background-color: white;
}

.navbar-nav>li>a {
    color: #ffffff;
    font-size: 1.5em;
    text-shadow: none;
}

.navbar-nav>li>a:hover {
    color: green;
    background: none;
}

.navbar-nav>li>a:focus {
    background: none;
}

.active {
    background: none;
}

.navbar-brand {
    padding: 5px;
}

.logo {
    content: url("/./images/main/logo.png");
}

.logo:hover {
    content: url("/./images/main/logo_bunt.png");
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */


/* Carousel base class */

.carousel {
    height: 500px;
    margin-bottom: 60px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
    text-align: center;
    max-width: 100%;
    /*top: auto;*/
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: 500px;
    background-color: #777;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-control {
    background-image: none !important;
}

.background-gradient-2 {
    width: 100%;
    height: 100%;
    background: #7db9e8;
    background: -moz-linear-gradient(45deg, #7db9e8 0%, #1e5799 100%);
    background: -webkit-linear-gradient(45deg, #7db9e8 0%, #1e5799 100%);
    background: linear-gradient(45deg, #7db9e8 0%, #1e5799 100%);
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=1);
}

.background-gradient {
    width: 100%;
    height: 100%;
    background: #97ad95;
background: -moz-linear-gradient(45deg,  #97ad95 0%, #4eaf47 100%);
background: -webkit-linear-gradient(45deg,  #97ad95 0%,#4eaf47 100%);
background: linear-gradient(45deg,  #97ad95 0%,#4eaf47 100%);
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97ad95', endColorstr='#4eaf47',GradientType=1 );

}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.carousel-container {
    width: 100%;
    height: 100%;
    padding-top: 75px;
    padding-bottom: 100px;
    position: absolute;
    color: white;
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.badges {
    text-align: center;
    margin-top: 5em;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        padding-top: 10px;
        margin-bottom: 25px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 120px;
    }
}
