
$home: #b3a900;
$edu: #2eb6eb;

.BrixSlab-Bold {
  font-family: BrixSlab-Bold;
  font-weight: normal;
  font-style: normal;
}

.BrixSlab-Regular {
  font-family: BrixSlab-Regular;
  font-weight: normal;
  font-style: normal;
}

/**
 * Basic styling
 */
body {
    font-family: BrixSlab-Regular, Helvetica, sans-serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    padding-bottom: 0;
}

.fixx {
  position: fixed;
}

.news {
	margin-left: 0px;
	font-size: 14px;
}

p {
  font-size: $base-font-size;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  color: $sensebox-green;
}

.sponsor {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    list-style: none;

    li {
      /*display: table-cell;*/
    }
  }
  text-align: center;
  img {
    padding: 5px;
    max-width: 200px;
    max-height: 100px;
    transition: box-shadow 0.1s;
    border-radius: 5px;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    // &:hover {
    //   box-shadow: 0px 0px 15px lighten($sensebox-green, 40%);
    //   -webkit-filter: none; /* Chrome, Safari, Opera */
    //   filter: none;
    // }
  }
}

.koop {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    list-style: none;

    li {
      /*display: table-cell;*/
    }
  }
  text-align: center;
  img {
    padding: 5px;
    //max-width: 300px;
    max-height: 100px;
    transition: box-shadow 0.1s;
    border-radius: 5px;
    // &:hover {
    //   box-shadow: 0px 0px 15px lighten($sensebox-green, 40%);
    //   -webkit-filter: none; /* Chrome, Safari, Opera */
    //   filter: none;
    // }
  }
}

hr {
  border-top: 3px solid #eeeeee;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default {
  border-style: none;
  background-color: #FFFFFF;
  margin-bottom: 25px;
}

.navbar-brand {
  margin-left: 15px;
  padding: 5px 0px;
  width: auto;
}

.navbar-default .navbar-toggle {
  border-style: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $sensebox-green;
}

.navbar-collapse {
  padding-left: 0;
  text-align: center;
  border-top: 0px;
}

.navbar-control {
  padding-left: 0;
  background-color: $sensebox-green;
  @media (min-width: $grid-float-breakpoint) {
    padding-bottom: 5px;
    border-bottom-left-radius: 5px;
  }
}

#navbar {
  .navbar-nav {
    > li {
      @media (max-width: $grid-float-breakpoint) {
        padding-left: 10px;
      }
      > a {
        transition: color 0.1s;
        color: #ffffff;
        font-size: 1.3em;
        font-family: BrixSlab-Bold;
        background-color: transparent;
      }

      > a:hover,
      > a:focus {
        text-decoration: underline;
      }

      &.active {
        > a,
        > a:hover,
        > a:focus {
          text-decoration: underline;
          background-color: transparent;
        }
      }

      // navbar item dividers
      // @media (min-width: $grid-float-breakpoint) {
      //   &:after {
      //     content: ':';
      //     font-size: 22px;
      //     text-decoration: none;
      //     color: lighten($sensebox-green, 40%);
      //     position: absolute;
      //     right: -2px;
      //     top: 9px;
      //     user-select: none;
      //     cursor: default;
      //   }
      //   &:last-of-type:after {
      //     content: '';
      //   }
      // }
    }
  }
  .navbar-nav.simple {
    > li > a {
      transition: color 0.1s;
      color: #4eaf47;
      font-size: 1.3em;
      font-family: BrixSlab-Bold;
      background-color: transparent;
  }
  }
}

.row {
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.separator {
  font-weight: bold;
}

.footer {
  color: $sensebox-green;
  font-size: $small-font-size;

  padding-top: 48px;
  padding-bottom: 48px;

  a {
    color: $sensebox-green;
  }

  .copyright {
    margin-top: 42px;
    color: $grey-color;
    font-size: $small-font-size*0.85;
  }
}

.footer-header {
  font-weight: bold;
  text-align: left;
  margin-bottom: 15px;
}

.footer-content {
  text-align: left;
  font-family: BrixSlab-Regular;
  > ul {
    padding-left: 0;
    list-style-type: none;

    > li {
      margin-bottom: 5px;
    }
  }
}


.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

.sidebar {
  padding-left: 0;
}

.posts {
  padding-left: 0;
  padding-bottom: 80px;

  a:hover {
    text-decoration: none;
  }

  .clearfix {
    color: #888
  }

  .post-header {
    font-family: BrixSlab-Bold, Helvetica, sans-serif;

    h2 {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: 0;
      margin-bottom: 20px;
    }
  }

  .post-title {
    font-family: BrixSlab-Bold, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 35px;
  }

  .post-abstract {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    text-align: justify;

    > p {
      color: #adadad;
    }
  }

  .post-content {

    text-align: justify;

    .post-image {
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;

      > img {
        margin: 2px;
        max-width: 100%;
      }
    }

    > ul {
      font-size: inherit;
    }

  }

  > h1 {
    > a{
      color: $sensebox-green;
    }
  }

  > .content {
    color: #828282;
    padding-left: 0px;
  }
}

.readmore {
  a {
    color: $sensebox-green;

    &:hover {
      color: $sensebox-green;
      text-decoration: underline;
    }
  }
}

.post-list {
  margin-left: 0;
  list-style: none;
  padding-left: 0;

  > li {
      margin-bottom: $spacing-unit;

      > h2 {

        > a:hover {
          color: $sensebox-green;
          text-decoration: underline;
        }
      }
  }
}

.post-link {
  display: block;
  font-size: 24px;
  color: $sensebox-green;
}

.link {
  color: $sensebox-green;
}

.link:hover{
  color: $sensebox-green;
  text-decoration: underline;
  background-color: transparent;
}

.panel {
  border: 0px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

h3.panel-title {
  a {
    color: $sensebox-green;
    font-size: 24px;

    &:before {
      position: absolute;
      left: -8px;
      background-image: url('../images/raute-gruen.png');
      background-repeat: no-repeat;
      width: 34px;
      height: 34px;
      content: '×';
      color: white;
      user-select: none;
      text-decoration: none;
      text-align: center;
      font-size: 28px;
      vertical-align: middle;
      line-height: 34px;
    }

    &.collapsed:before {
      content: '+'
    }
  }

}

.panel-default {
  border-color: transparent;

  > .panel-heading {
    background-color: transparent;
  }
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 0px solid transparent;
}


@media (min-width: $screen-sm-min) {
  .navbar-logo {
    padding-top: 15px;
  }

  .navbar-control {
    padding-top: 15px;
  }

  .navbar-default {
    padding-top: 0px;
  }

  .info-panel {
    padding-top: 50px;

    .panel-group .panel + .panel {
      margin-top: 50px;
    }
  }

  .news {
  	margin-left: -160px;
		font-size: 16px;
	}
}


.sensebox-presentation {
  .panel-body {
    padding:0;
    padding-left:15px;
    ul {
      list-style: none;
      font-size: $small-font-size;
      color: $grey-color;
      padding-left: 0;
    }
  }
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $sensebox-green;
  border-color: $sensebox-green;
}

.pagination > li > a, .pagination > li > span {
    color: $sensebox-green;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li > a:hover, .pagination > li > a:focus, .pagination > li > span:hover, .pagination > li > span:focus {
    color: $sensebox-green;
    background-color: #eeeeee;
    border-color: #ddd;
}

.carousel-control {
  color: #ffffff;
  pointer-events: none;

  span {
    pointer-events: auto;
  }
}

.carousel-indicators {

  > li {
    border: 1px solid #ffffff;
  }

  > .active {
    background-color: #ffffff;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #fff;
  background-color: $sensebox-green;
}

.nav > li > a {
  color: $sensebox-green;
}

.table-hover > tbody > tr:hover {
  background-color: $sensebox-green;
  color: #fff;

  a {
    color: #fff;
  }
}

.smallcaps {
  font-variant: small-caps;
}

em {
  color: darken($sensebox-green, 10%);
  font-weight: bold;
  font-style: normal;
}

.team-pic,
.press-pic,
.award-pic {
  //float: left;
  margin: 2px;
  margin-right: 15px;
  max-width: 100%;
}

.team-pic {
  max-width: 146px;
}

@media (max-width: 767px) {
  .team-pic,
  .press-pic,
  .award-pic {
    //float: left;
    margin: 2px;
    margin-right: 15px;
    max-width: 50%;
  }
}

.press-text {
  overflow: hidden;
}
.team-text {
  overflow: hidden;
  min-height: 240px;
}

@media (min-width: 768px) {
  .responsive-img {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .responsive-img {
    max-width: 300px;
  }
}


.product-name {
  background-color: $sensebox-green;
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  h3 {
    color: white;
    margin: 0;
  }
}

.date,
.author {
  color: #888;
  padding-left: 5px;
  padding-right: 5px;
}

.clear {
  clear: both;
}

.nomargin {
  margin-bottom: 2px;
}

.docs-photo-gallery {
  display: flex;
  flex-wrap: wrap;
}

.docs-photo-container {
  width: 320px;
  height: 240px;
  border: 1px solid #ccc;
  padding: 1px;
  margin: 2px;
  overflow: hidden;
  text-align: center;
}

.docs-photo-img {
  width: auto;
  max-height: 100%;
  //height: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*
article.post-content img {
  max-width: 33%;
  max-height: 250px;
}
*/
@media (max-width: $screen-md-min) {

  .docs-photo-img {
  }

  article.post-content img {
  }

}

.card {
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #fefefe;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  //position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}
.card .avatar {
  position: relative;
  margin-top: 120px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.card .social-media img{
  padding: 10px;
}

.card .toggle-info {
  padding: 5px;
}

.card .price-header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}

.price-text {
  position: relative;
  margin-top: 120px;
  z-index: 100;
  background-color: #ffffff;
}

.price-text h3 {
  margin: 0px;
  padding: 5px;
  color: #141414;
}

.card .overlay {
  display: none;
}

.card:hover .overlay {
  display: inline;
  position:absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding-top: 8px;
  padding-bottom: 8px;
  background: rgba(255,255,255,0.7);
}

.centerjury {
  margin: 0 auto;
  width: 80%;
}

// ul li {
//   font-size: 1.2em;
// }

.opacity-animation-fast {
  position: relative;
  -webkit-animation: show 0.33s ease-in-out; /* Safari 4+ */
  -moz-animation:    show 0.33s ease-in-out; /* Fx 5+ */
  -o-animation:      show 0.33s ease-in-out; /* Opera 0.42+ */
  animation:         show 0.33s ease-in-out;
}

.opacity-animation {
  position: relative;
  -webkit-animation: show 1s ease-in-out; /* Safari 4+ */
  -moz-animation:    show 1s ease-in-out; /* Fx 5+ */
  -o-animation:      show 1s ease-in-out; /* Opera 12+ */
  animation:         show 1s ease-in-out;
}

@-webkit-keyframes show {
  0%   { opacity: 0; top:-20px }
  100% { opacity: 1; top:0px }
}
@-moz-keyframes show {
  0%   { opacity: 0; top:-20px }
  100% { opacity: 1; top:0px }
}
@-o-keyframes show {
  0%   { opacity: 0; top:-20px }
  100% { opacity: 1; top:0px }
}
@keyframes show {
  0%   { opacity: 0; top:-20px }
  100% { opacity: 1; top:0px }
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin: 5px;
  background: #f6f6f6;
  border-radius: 2px;
  text-decoration: none !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
}
.hvr-underline-from-left:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: $sensebox-green;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}
#instructions, #flyer {
  text-align:center;
  padding:30px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */


/* Special class on .container surrounding .navbar, used for positioning it into place. */

.navbar-wrapper.inline {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
    padding-top: 10px;

    background: rgba(#000000, 0.3);
    background: -moz-linear-gradient(180deg, rgba(#000000, 0.3), rgba(#000000, 0.0));
    background: -webkit-linear-gradient(180deg, rgba(#000000, 0.3), rgba(#000000, 0.0));
    background: linear-gradient(180deg, rgba(#000000, 0.3), rgba(#000000, 0.0));
}


/* Flip around the padding for proper display in narrow viewports */

.navbar-wrapper {
  padding-top: 10px;
  margin-bottom: 25px;
}

.navbar-wrapper>.container {
    padding-right: 0;
    padding-left: 0;
}

.navbar-wrapper .navbar {
    padding-right: 15px;
    padding-left: 15px;
}

.navbar-wrapper .navbar .container {
    width: auto;
}

.navbar-toggle .collapsed {
    z-index: 99;
}

.navbar-toggle > .icon-bar{
    background-color: white;
}

.navbar-toggle.simple > .icon-bar{
  background-color: #4eaf47;
}

// .navbar-nav>li>a {
//     color: #ffffff;
//     font-size: 1.5em;
//     text-shadow: none;
// }
//
// .navbar-nav>li>a:hover {
//     color: green;
//     background: none;
// }
//
// .navbar-nav>li>a:focus {
//     background: none;
// }
//
// .active {
//     background: none;
// }
//
// .navbar-brand {
//     padding: 5px;
// }

.logo.simple {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.logo {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.logo:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
$carousel-height: 450px;

/* Carousel base class */

.carousel {
    height: $carousel-height;
    margin-bottom: 60px;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    z-index: 10;
    text-align: center;
    max-width: 100%;
    /*top: auto;*/
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}


/* Declare heights because of positioning of img element */

.carousel .item {
    height: $carousel-height;
    background-color: #777;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-control {
    background-image: none !important;
}

.carousel-background {
  width: 100%;
  height: 100%;
}

.background-gradient-2 {
    background: #7db9e8;
    background: -moz-linear-gradient(90deg, #7db9e8 0%, #1e5799 100%);
    background: -webkit-linear-gradient(90deg, #7db9e8 0%, #1e5799 100%);
    background: linear-gradient(90deg, #7db9e8 0%, #1e5799 100%);
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=1);
}

.background-gradient {
    background: #97ad95;
    background: -moz-linear-gradient(45deg,  #97ad95 0%, #4eaf47 100%);
    background: -webkit-linear-gradient(45deg,  #97ad95 0%,#4eaf47 100%);
    background: linear-gradient(45deg,  #97ad95 0%,#4eaf47 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97ad95', endColorstr='#4eaf47',GradientType=1 );
}

.background-gradient-main {
    background: #3851b8;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3851b8 0%, #4eaf47 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3851b8 0%, #4eaf47 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3851b8 0%, #4eaf47 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3851b8', endColorstr='#4eaf47', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.background-gradient-press {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#600868+0,85b2d3+100 */
  background: #600868; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #600868 0%, #85b2d3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #600868 0%,#85b2d3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #600868 0%,#85b2d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#600868', endColorstr='#85b2d3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.background-gradient-products {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2e6629+0,6aa6d1+100 */
  background: #2e6629; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #2e6629 0%, #6aa6d1 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #2e6629 0%,#6aa6d1 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2e6629 0%,#6aa6d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e6629', endColorstr='#6aa6d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.background-gradient-books {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b7700+0,b59f26+100 */
  background: #2b7700; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #2b7700 0%, #DBD52E 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #2b7700 0%,#DBD52E 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #2b7700 0%,#DBD52E 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b7700', endColorstr='#DBD52E',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.background-gradient-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#321770+0,009e79+100 */
  background: #321770; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #321770 0%, #009e79 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #321770 0%,#009e79 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #321770 0%,#009e79 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#321770', endColorstr='#009e79',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.background-gradient-awards {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#820202+0,19ffe0+100 */
  background: #820202; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #820202 0%, #19ffe0 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #820202 0%,#19ffe0 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #820202 0%,#19ffe0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#820202', endColorstr='#19ffe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.background-gradient-orange {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+0,ff7b0d+100;Orange+3D */
  background: #ff7b0d; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff7b0d 0%, #ffa84c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ff7b0d 0%,#ffa84c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ff7b0d 0%,#ffa84c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b0d', endColorstr='#ff7b0d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.background-lab {
  background-image: url('../images/header_sensebox_lab.jpg');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.background-ardublockly {
  background-image: url('../images/blockly.png');
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.carousel-container {
    width: 100%;
    height: 100%;
    padding-top: 75px;
    padding-bottom: 100px;
    position: absolute;
    color: white;
}

.carousel-heading {
  color: white;
}

@media (max-width: 991px) {
  .not-on-small {
    display: none !important;
  }

  .only-on-small {
    display: block !important;
  }
}

.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.marketing .col-lg-4 {
  .hero-product {
    color: $text-color;
    &:hover {
      text-decoration: none;
      color: $text-color;
    }
  }
  .hero-product-img {
    max-width: 230px;
    max-height: 230px;
    margin-bottom: 10px;
  }
}

/* STARTPAGE EVENT */

.events-row {
  display: flex;
  flex-wrap: wrap;

  .event-item {
    flex-grow: 1;
  }

  .thumbnail {
    height: 100%;
  }
}


.badges {
    text-align: center;
    margin-top: 5em;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
    /* Navbar positioning foo */
    .navbar-wrapper {
        padding-top: 10px;
        margin-bottom: 25px;
    }
    .navbar-wrapper .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar-wrapper .navbar {
        padding-right: 0;
        padding-left: 0;
    }
    /* The navbar becomes detached from the top, so we round the corners */
    .navbar-wrapper .navbar {
        border-radius: 4px;
    }
    /* Bump up size of carousel content */
    .carousel-caption p{
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 1200px) {
    .featurette-heading {
        margin-top: 120px;
    }
    .navbar-nav {
      margin-left: 10px;
    }
}

@media (max-width: 1200px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}

.collapse.in, .collapsing {
  background-color: #272727;
  box-shadow: 0 0 30px 6px rgba(34, 34, 34, 0.25); 
}

.carousel-caption {
    z-index: 10;
    text-align: center;
    max-width: 100%;
    /*top: auto;*/
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-inner>.item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.inside-carousel-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 768px) and (max-width: 992px) {
  .inside-carousel-container {
    width: initial;
  }
}

.navbar {
  font-size: 1.2em;
}

.product-table {
  font-size: 1.2em;
}

.product-table tr > td:first-child {
  text-align: right;
  background-color: #ededed;
  font-weight: bold;
  font-size: 1.1em;
} /* first column */

.product-table tr:first-child {
  text-align: center;
} /* first row */

.product-table tr:last-child {
  text-align: center;
} /* last row */

.event {
  padding: 20px;
  vertical-align: middle;
  display: flex;

  .details {
    margin-left: 20px;
  }
}

.no-margin {
  margin: 0px !important;
}

.btn {
  color: #4eaf47;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  border: solid #4eaf47 2px;
  text-decoration: none;
  background: none;
  margin: 5px;
}

.btn:hover {
  background: #4eaf47;
  text-decoration: none;
  color: white;
}

.header-btn {
  color: #ffffff;
  border: solid #ffffff 2px;
}

.header-btn:hover {
  background: rgba(#ffffff, 0.2);
}

.header-info {
  text-align: center;
}

.header-text {
  color: #ffffff;

}

.product-img {
  margin: auto;
  max-width: 300px;
  max-height: 300px;
}

.product-edu-img {
  content:url("./../images/senseBox_edu_500.png");
}

.product-edu-img:hover {
  content:url("./../images/senseBox_edu_500_open.png");
}

.margin-20 {
  margin: 20px;
}

// //books
// #box-1 {
//   display: none;
// }

// #box-2{
//   display: none;
// }

// #v{
//   display: block; 

// }

// #vv {
//   display: block;
// }

// .row-eq-height {
//   display: -webkit-box;
//   display: -webkit-flex;
//   display: -ms-flexbox;
//   display:         flex;
// }


.book-row .book-nav-item {

  height: 270px;
  text-align: center;
  // padding: 2em 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3em;

  a {
    text-indent: 0 !important;
  }
}

#text-style{
  color: #ffffff;
}

.ut-select-img {
  max-width: 70%;
  max-height: 130px;
}

/* Product page CSS
-------------------------------------------------- */

// .buy-btn {
//   background: #e39b00;
// }

.home-span {
  // font-weight: bold;
  color: $home;

  font-weight: bold;
  letter-spacing: 1.2px;

}

.edu-span {
  // font-weight: bold;
  color: $edu;

  font-weight: bold;
  letter-spacing: 1.2px;
}


.product-table {
  overflow: auto;
}
.product {
  border: 1px solid #eee;
  padding: 0.5em 0.5em;
  position: relative;

  .main-product-image {
    img {
      width: 100%;
    }
  }
  .sensor-list {
    padding-top: 1em;
  }
  .prod-ul {
    list-style: none;
    padding: 0;
  
    .prod-li-item {
      display: flex;
      align-items: center;
      .prod-thumb {
        width: 80px;
        img {
          width: 100%;
        }
      }
      
      .prod-label {
        width: calc(100% - 80px);
        // flex-grow: 1;
        font-size: 17px;
        padding-left: 0.3em;
      }
    }
  }
}

.product {
  margin-bottom: 2em;
}

.license {
  font-size: 15px;
  opacity: 0.9;
  padding: 1em 0;
}

@media screen and (min-width: 768px){
  .sensor-list {
    height: 560px;
  }
  .misc-list {
    height: 1100px;
  }
  .addon-list {
    height: 520px;
  }
}



/* Blockly page css
-------------------------------------------------- */

.blockly-links {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.blockly-row .book-nav-item {
  
  height: 200px;
  text-align: center;
  // padding: 2em 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3em;

  a {
    text-indent: 0 !important;
  }
}


/* HACKATHON */

.card .collapse.in, .card .collapsing {
  box-shadow: none;
  background-color: #ffffff;
}

.buy-btn-contain {
  text-align: center;
  padding-top: 1.5em;
  .buy-btn {
    background: #e39b00;
  }
}
.buy-btn-start {
  position: absolute;
  bottom: 30px;
  right: 10%;
  background: #e39b00;

  @media screen and(max-width: 500px){
    display: none;
  }
}

.blog-preview {
  display: flex;
  flex-wrap: wrap;
  .blog-preview-item {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 300px;
    padding-bottom: 1.5em;
    .thumbnail {
      height: 100%;
    }
  }
}