<div class="item active">
  <div class="carousel-background background-gradient-awards">
    <div class="carousel-container">
      <div class="container inside-carousel-container">
        <div class="header-info">
          <h1 style="color: white">Förderungen und Preise</h1>
          <p>
            Die senseBox wurde vom Bundesministerium für Bildung und Forschung gefördert. Neben weiteren Förderern sind hier Preise zu sehen, welche die senseBox gewonnen hat.
          </p>
          <div class="row">
            <div class="col-md-6">
              <a class="btn header-btn" href="{{ page.url }}#grants" role="button">zu den Förderungen &raquo;</a>
            </div>
            <div class="col-md-6">
              <a class="btn header-btn" href="{{ page.url }}#awards" role="button">zu den Preisen &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
