<div class="item active">
    <div class="carousel-background background-gradient-background">
      <div class="container inside-carousel-container">
          <div class="row header-info">
              <div class="col-md-6">
                <a class="btn header-btn" href="{{ page.url }}#philosophie" role="button">Philosophie &raquo;</a>
              </div>
              <div class="col-md-6">
                <a class="btn header-btn" href="{{ page.url }}#team" role="button">Team &raquo;</a>
              </div>
          </div>
      </div>
    </div>
</div>
