{% assign t = site.data.translations.[page.lang].blockly %}
<div class="item active">
    <div id="particles-js" class="carousel-background background-gradient-2">
        <div class="carousel-container">
            <div class="container inside-carousel-container">
                <div class="row header-info display-table">
                    <div class="col-md-6 display-cell">
                        <h1 class="carousel-heading">blockly</h1>
                          {{ t.description_short }}
                                              <div class="col-md-6 not-on-small display-cell">
                        <img src="{{ site.baseurl | append: '/images/Genuino.png' }}" style="max-width:40%" />
                    
                          <a class="btn header-btn" href="https://sensebox.de/blockly" target="_blank" role="button">{{ t.link }}</a>
                        <br>
                                    </div>

                           <div class="col-md-6 not-on-small display-cell">
                        <img src="{{ site.baseurl | append: '/images/mcu_one_top.png' }}" style="max-width:35%" />
                    
                          <a class="btn header-btn" href="https://blockly.sensebox.de/ardublockly?lang={{page.lang}}&board=sensebox-mcu" target="_blank" role="button">{{ t.links }}</a>
                        <br>

                                    </div>         
                    </div>
                    <div class="col-md-6 not-on-small display-cell">
                        <img src="{{ site.baseurl | append: '/images/main/blockly.png' }}" style="max-width:70%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{{ site.baseurl | append: "/assets/particles.js" }}"></script>

<script>
$(document).ready(function() {
  $('#myCarousel').carousel({
    interval: 1000000
  });
  particlesJS.load('particles-js', '{{ site.baseurl | append: "/assets/particlesjs-config.json" }}', function() {
    console.log('callback - particles.js config loaded');
  });
});
</script>
