<div class="item active">
    <div class="background-gradient">
        <div class="carousel-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="carousel-heading">senseBox</h1>
                        <p>Die senseBox ist ein Do-it-yourself-Bausatz für stationäre und mobile Sensorstationen - ein Citizen Science Toolkit für jedermann.</p>
                        <br>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
