{% assign t = site.data.translations.[page.lang].events %}


<div class="item active">
  <div class="carousel-container background-gradient-books">
      <div class="container inside-carousel-container">
        <div class="header-info">
          <h1 id = "text-style"> senseBox Events</h1>
          <h2 class="header-text">
            {{ t.description_short }}
          </h2>
          <div class="col-md-4 not-on-small display-cell">
            <a class="btn header-btn" href="https://sensebox.de/de/events#2016" role="button">{{ t.events2016 }}</a>
         </div> 
          <div class="col-md-4 not-on-small display-cell">
            <a class="btn header-btn" href="https://sensebox.de/de/events#2017" role="button">{{ t.events2017 }}</a>
         </div> 
         <div class="col-md-4 not-on-small display-cell">
          <a class="btn header-btn" href="https://sensebox.de/de/events#2018" role="button">{{ t.events2018 }}</a>
       </div>               
               </div>
              </div>
          </div>
        </div>
      
<script> 


</script>
