{% assign t = site.data.translations.[page.lang].projects %}
<div class="item active">
    <div class="carousel-background background-gradient-2">
        <div class="carousel-container">
            <div class="container inside-carousel-container">
                <div class="row header-info display-table">
                    <div class="col-md-6 display-cell">
                        <h1 class="carousel-heading">FAQ</h1>
                          {{ t.description_short }}
                        <div class="col-md-4 not-on-small display-cell">
                           <a class="btn header-btn" href="#home" role="button">senseBox:home</a>
                        </div>    
                         <div class="col-md-4 not-on-small display-cell">
                            <a class="btn header-btn" href="#edu" role="button">senseBox:edu</a>
                        </div>  
                         <div class="col-md-4 not-on-small display-cell">
                           <a class="btn header-btn" href="#osem" role="button">openSenseMap</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
      
