<div class="item active">
  <div class="carousel-container background-lab">
    <div class="container inside-carousel-container">
      <div class="header-info" style="background-color: rgba(255, 255, 255, 0.95); padding: 20px; border-radius: 5px; border: solid #000000 2px;">
        <h1><b>senseBox</b>:Lab</h1>
        <h3 style="color:black">Jeden Donnerstag 16:00 - 18:00 Uhr ab dem 21. September 2017</h1>
        <h3 style="color:black">Institut für Geoinformatik, Münster</h1>
      </div>
    </div>
  </div>
</div>
