{% assign t = site.data.translations.[page.lang].main %}
<div class="item active">
    <div class="carousel-background background-gradient-main">
        <div class="carousel-container">
            <div class="container inside-carousel-container">
                <div class="row header-info display-table">
                    <div class="col-md-6 not-on-small display-cell">
                      <div id="sensebox-vivus" style="max-height:300px;"></div>
                    </div>
                    <div class="col-md-6 display-cell">
                        <h1 class="carousel-heading only-on-small" style="display:none">senseBox</h1>
                        {{ t.header }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="item">
  <div class="carousel-background background-ardublockly">
      <div class="carousel-container">
        <div class="container inside-carousel-container">
          <div class="header-info" style="background-color: rgba(255, 255, 255, 0.95); padding: 20px; border-radius: 5px; border: solid #000000 2px;">
            <h1 class="carousel-heading" style="color: black !important;">senseBox Ardublockly</h1>
            <p style="color: black !important;">{{ t.blockly.description }}</p>
            <a class="btn header-btn" href="https://sensebox.de/blog/2017-06-27-ardublocklysenseBox" role="button" style="color: black !important; border: solid #000000 2px !important; background-color: rgba(0, 0, 0, 0.05)">{{ t.blockly.viewPost }}</a>
          </div>
        </div>
      </div>
  </div>
</div>
<script src="{{ site.baseurl | append: "/assets/vivus.min.js" }}"></script>
<script>
$(window).ready(function() {
  new Vivus('sensebox-vivus', {
    duration: 120,
    file: '{{ site.baseurl | append: "/images/sensebox_wort_und_logo_empty.svg" }}'
  }, function() {
    // Replacing line SVG with filled svg
    $(this.el).hide().load('{{ site.baseurl | append: "/images/sensebox_wort_und_logo_no_bg.svg" }}', function() {
      $(this).fadeIn();
    });
  });
})
</script>
