{% assign t = site.data.translations.[page.lang].main %}
<div class="item active">
    <div class="carousel-background background-gradient-main">
        <div class="carousel-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="carousel-heading">senseBox</h1>
                        {{ t.header }}
                        <br>
                    </div>
                    <div class="col-md-6">
                      <div id="sensebox-vivus" style="max-height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/vivus/latest/vivus.min.js"></script>
<script>
$(window).ready(function() {
  new Vivus('sensebox-vivus', {
    duration: 200,
    file: '{{ site.baseurl | append: "/images/sensebox_wort_und_logo_empty.svg" }}'
  }, function() {
    // Replacing line SVG with filled svg
    $(this.el).hide().load('{{ site.baseurl | append: "/images/sensebox_wort_und_logo_no_bg.svg" }}', function() {
      $(this).fadeIn();
    });
  });
})
</script>
