<div class="item active">
    <div id="particles-js" class="background-gradient-2">
        <div class="carousel-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="carousel-heading">openSenseMap</h1>
                        <p>Die openSenseMap ist unsere Web-Plattform für die offenen Daten der senseBox. Jede senseBox:home übeträgt ihre Messdaten direkt auf diese Karte, wo sie betrachtet, analysiert und heruntergeladen werden können. Auch mit der senseBox:edu erfasste Daten können auf der openSenseMap angezeigt werden.
                        <br>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ site.baseurl | append: '/images/main/Microsoft Surface Book.png' }}" style="max-width:100%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/particles.js"></script>

<script>
$(document).ready(function() {
  $('#myCarousel').carousel({
    interval: 1000000
  });
  particlesJS.load('particles-js', '/assets/particlesjs-config.json', function() {
    console.log('callback - particles.js config loaded');
  });
});
</script>
