<!-- <div class="item active">
    <div class="carousel-background background-gradient">
      <img src="{{ site.baseurl | append: '/images/press_background.jpg' }}" style="min-height:100%; min-width:100%" />
      <div class="carousel-container">
        <div class="container inside-carousel-container">

        </div>
      </div>
    </div>
</div> -->

<div class="item active">
  <div class="carousel-background background-gradient-press">
      <div class="carousel-container">
          <div class="container inside-carousel-container">
              <div class="header-info">
                  <a class="btn header-btn" href="{{ site.baseurl | append: '/' | append: page.lang | append: '/materials/'}}" role="button">zum Pressekit &raquo;</a>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
