<div class="item active">
  <div class="carousel-background background-gradient-press">
    <div class="carousel-container">
      <div class="container inside-carousel-container">
        <div class="header-info">
          <h1 style="color: white">Presse und Medien</h1>
          <p>
            Im Pressekit finden Sie unsere Logos zum herunterladen sowie Informationen zur Schreibweise der senseBox.
          </p>
          <a class="btn header-btn" href="{{ site.baseurl | append: '/' | append: page.lang | append: '/materials/'}}" role="button">zum Pressekit &raquo;</a>
        </div>
      </div>
    </div>
  </div>
</div>
