{% assign t = site.data.translations.[page.lang].main %}
<div class="item active">
  <div class="carousel-container background-gradient-products">
    <div class="container inside-carousel-container">
      <div class="header-info">
        <h1 class="carousel-heading">Produkte</h1>
        <p>Von der senseBox gibt es zwei Varianten: die <b>senseBox:home</b> und die <b>senseBox:edu</b>. Die <b>senseBox:home</b> ist ein Plug and Play Bausatz und kann ohne Vorkentnisse betrieben werden. Die <b>senseBox:edu</b> wurde speziell für den Einsatz
          im Schulunterricht entwickelt</p>
        <a class="btn header-btn" href="{{ page.url }}#product-table" role="button">zur senseBox Übersicht &raquo;</a>
      </div>
    </div>
  </div>
</div>
</div>
