{% assign t = site.data.translations.[page.lang].products %}
<div class="item active">
  <div class="carousel-container background-gradient-products">
    <div class="container inside-carousel-container">
      <div class="header-info">
        <h1 class="carousel-heading">{{ t.products }}</h1>
        <p>{{ t.header-introduction }}</p>
        <div class="buy-btn-contain">
          <a class="btn header-btn buy-btn" href="https://sensebox.kaufen" target="_blank" role="button">{{ t.to-senseBox-overwiew }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
